<ion-view class="tour" id="tour">
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button back-button button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-thin-left"></i>
      </button>
    </ion-nav-buttons>
    <!--
    <ion-nav-buttons side="secondary">
      <button class="button back-button button-clear" ng-show="data.index == 0" ng-click="createDefaultWallet()">
        {{'Skip' | translate}}
      </button>
    </ion-nav-buttons>
    -->
  </ion-nav-bar>
  <ion-slides class="slides" options="options" slider="data.slider">
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/currencies.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Transact using multiple currencies</div>
          <div class="tour-description" translate>You can send, receive, and track multiple cryptocurrencies. One app is all you need.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Got it
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/wallets.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Setup multiple wallets, each with a unique purpose</div>
          <div class="tour-description" translate>Just like bank accounts, you can setup wallets for savings, spending, budgeting, sharing, etc.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            I’m my own bank!
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/share.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Share wallets with family, friends, or business associates</div>
          <div class="tour-description" translate>You can start a new shared wallet and invite people to join, or you can join someone else's shared wallet. Multiple people must agree to spend money.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Cool… social spending
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/backup.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Protect your money with safe and secure backups</div>
          <div class="tour-description" translate>There is one private key for each wallet. Export and store it in a safe place. You can use the key later to restore your wallet and spend your money.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            I’m responsible
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/contacts.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Add your contacts</div>
          <div class="tour-description" translate>Pay friends and family using money you have in your wallet. Split dinner, send a birthday gift, or just say hello.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            I have friends
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-content scroll="false">
        <img src='img/tour/notifications.svg' />
        <div class="tour-text">
          <div class="tour-topic" translate>Get notified when you receive money</div>
          <div class="tour-description" translate>Transactions are recorded in the public blockchain. When you receive money your wallet will let you know right away.</div>
        </div>
        <div class="cta-buttons">
          <button class="button button-standard button-secondary" ng-click="slideNext()" translate>
            Thanks for letting me know
          </button>
        </div>
      </ion-content>
    </ion-slide-page>
  </ion-slides>
</ion-view>
