<div class="card">
	<ion-item copy-to-clipboard="{{output.toAddress}}">
	  <span translate>To</span>
	  <span class="item-note">
	  	{{output.toAddress || output.address}}
	  </span>
	</ion-item>
	<ion-item copy-to-clipboard="{{output.amountStr}}">
	  <span translate>Amount</span>
	  <span class="item-note">
	  	{{output.amountStr}}
		  <div ng-show="output.alternativeAmountStr">
		  	{{output.alternativeAmountStr}}
		  </div>
		</span>
	</ion-item>
	<ion-item ng-show="output.message" copy-to-clipboard="{{output.message}}">
	  <span translate>Note</span>
	  <span class="item-note">
	  	{{output.message}}
	  </span>
	</ion-item>
</div>