<div ng-show="!backupWalletPlainText">
  <div class="box-notification error" ng-show="error">
    <h2 translate>Failed to export</h2>
  </div>
  <form name="exportForm" class="setupForm" novalidate>
    <ion-list>
      <ion-item class="item-input item-stacked-label prepend">
        <span class="input-label" translate>Set up a password</span>
        <input type="password" placeholder="{{'Password'|translate}}" ng-model="formData.password"
          ng-change="checkPassword(formData.password, formData.repeatpassword)"
          ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">
      </ion-item>
      <ion-item class="item-input item-stacked-label append">
        <input type="password" placeholder="{{'Repeat password'|translate}}" ng-model="formData.repeatpassword"
          ng-change="checkPassword(formData.repeatpassword, formData.password)"
          ng-class="{'correct': result == 'correct', 'incorrect': result == 'incorrect'}">
      </ion-item>
      <div ng-show="canSign">
        <ion-item class="item-divider"></ion-item>
        <ion-item class="has-click" ng-click="showAdvChange()">
          <span translate>{{showAdv ? 'Hide' : 'Show'}} advanced options</span>
          <i class="icon arrow-down" ng-class="showAdv ? 'arrow-up' : 'arrow-down'"></i>
        </ion-item>
        <div ng-show="showAdv">
          <ion-checkbox ng-model="formData.noSignEnabled" class="checkbox-positive" ng-change="noSignEnabledChange(); resizeView()">
            <span class="toggle-label" translate>Do not include private key</span>
          </ion-checkbox>
        </div>
        <div class="box-notification warning" ng-show="formData.noSignEnabled">
          <h2 translate>Private Key Not Available</h2>
          <p translate>
            Without including the private key you can only check the wallet balance, transaction history, and create spend proposals from the export. You cannot approve (sign) spend proposals, so <b>funds will not be accessible from the export</b>.
          </p>
          <a ng-click="learnMore()" translate>Learn more</a>
        </div>
      </div>
      <div class="box-notification warning" ng-show="!canSign">
        <h2 translate>Private Key Not Available</h2>
        <p translate>
          Without including the private key you can only check the wallet balance, transaction history, and create spend proposals from the export. You cannot approve (sign) spend proposals, so <b>funds will not be accessible from the export</b>.
        </p>
        <a ng-click="learnMore()" translate>Learn more</a>
      </div>
    </ion-list>
    <div ng-show="!isCordova">
      <button class="button button-standard button-primary m20t m20b" ng-click="downloadWalletBackup()"
        ng-disabled="(!formData.password || formData.password != formData.repeatpassword)" ng-show="!isSafari">
        <i class="fi-download"></i>
        <span translate>Download</span>
      </button>
      <button class="button button-standard button-primary m20t m20b" ng-click="viewWalletBackup()"
        ng-disabled="(!formData.password || formData.password != formData.repeatpassword)" ng-show="isSafari">
        <i class="fi-eye"></i>
        <span translate>View</span>
      </button>
    </div>
    <div ng-show="isCordova">
      <button class="button button-standard button-primary m20t m20b"
        ng-disabled="(!formData.password || formData.password != formData.repeatpassword)" ng-click="copyWalletBackup()">
        <i class="fi-clipboard-pencil"></i>
        <span translate>Copy to clipboard</span>
      </button>
      <button class="button button-standard button-primary m20b"
        ng-disabled="(!formData.password || formData.password != formData.repeatpassword)" ng-click="sendWalletBackup()">
        <i class="fi-mail"></i>
        <span translate>Send by email</span>
      </button>
    </div>
  </form>
</div>
<ion-list class="text-center" ng-show="backupWalletPlainText">
  <ion-item class="item-input item-stacked-label">
    <span class="input-label" translate>Backup wallet</span>
    <textarea rows="12">{{backupWalletPlainText}}</textarea>
  </ion-item>
  <ion-item class="text-gray item-icon-left">
    <i class="icon ion-compose"></i>
    <p translate>Copy this text as it is to a safe place.</p>
  </ion-item>
</ion-list>
