<ion-view id="preferences-fee" class="ows" how-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Network Fee Policy' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="box-notification info clear">
      <p >{{network.feePolicy.explainer.heading}}</p>
      <p>{{network.feePolicy.explainer.description}}</p>
      <p>{{network.feePolicy.explainer.units}}</p>
      <a ng-click="learnMore()" translate>Learn more</a>
    </div>
    <div class="box-notification warning" ng-if="feeWarning">
      <div class="notice">
        {{feeWarning}}
      </div>
    </div>
    <ion-list class="pad">
      <ion-radio class="has-detail" ng-repeat="fl in feeLevels" ng-if="fl.level != 'custom'" ng-value="fl.level"
        ng-model="currentFeeLevel" ng-click="save(fl.level)">
        {{fl.name|translate}}
        <div class="item-detail">
          {{fl.feePerAtomicUnitByte}} {{fl.atomicUnitCode}}/byte &middot; {{fl.avgConfirmationTime | amDurationFormat: 'minute'}}
        </div>
      </ion-radio>
      <ion-item class="item-divider"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
