<ion-view id="preferences-color" class="ows" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Wallet Color' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="wallet-vanity-color-count">
    <ion-list>
      <ion-radio ng-repeat="i in [] | range:colorCount" ng-value="i" ng-model="currentColorIndex" ng-click="save(i)">
        <span class="color-block wallet-vanity-color-{{i}}"></span>
      </ion-radio>
    </ion-list>
  </ion-content>
</ion-view>
