<action-sheet id="contact-address-menu" class="ows" show="show">
  <i class="button-close" ng-click="hide()"></i>
  <div class="header">{{title}}</div>
  <ion-list>
    <ion-item class="item-icon-left icon-left-sm item-icon-right" ng-class="{'has-detail': a.label.length > 0}"
      ng-repeat="a in contact.addresses track by $index" ng-click="selectAddress($index)">
      <i class="icon sm-icon left-icon">
        <img ng-src="img/currency-icons/icon-{{currencyFor(a.networkURI)}}.svg">
      </i>
      <div ng-if="a.label">
        {{a.label}}
        <div class="item-detail ellipsis">
          {{a.address}}
        </div>
      </div>
      <div class="ellipsis" ng-if="!a.label">
        {{a.address}}
      </div>
      <i class="icon check ion-ios-checkmark-empty" ng-show="selected === $index"></i>
    </ion-item>
  </ion-list>
</action-sheet>
