<action-sheet id="action-sheet" class="item-selector-wallet" show="show">
  <i class="close-button ion-ios-close-empty" ng-click="hide()"></i>
  <div class="header">{{title}}</div>
  <ion-list>
    <ion-item class="has-detail item-icon-left icon-left-lg item-icon-right"
      ng-repeat="w in wallets track by $index" ng-click="selectWallet(w)">
      <i class="icon lg-icon">
        <div class="bg wallet-icon" ng-class="{'wallet-background-color-default': !w.color}" ng-style="{'background-color': w.color}"></div>
      </i>
      {{w.name}}
      <div ng-if="!w.isComplete()" class="item-detail assertive" translate>
        Incomplete
      </div>
      <div ng-if="w.isComplete()" class="item-detail">
        <div ng-if="!w.balanceHidden">{{w.status.availableBalanceStr}}</div>
        <div ng-if="w.balanceHidden" translate>Balance Hidden</div>
      </div>
      <i class="icon check ion-ios-checkmark-empty" ng-show="selectedWallet === w"></i>
    </ion-item>
  </ion-list>
</action-sheet>
