<div class="card" ng-controller="nextStepsController">
  <ion-item class="item-heading item-icon-right" ng-click="toggle()" >
    <span translate>Next steps</span>
    <i class="icon arrow-up" ng-show="!hide"></i>
    <i class="icon arrow-down" ng-show="hide"></i>
  </ion-item>
  <ion-list ng-show="!hide">
    <ion-item class="item-icon-left icon-left-lg item-icon-right" ng-repeat="service in services track by $index"
      ui-sref="{{service.sref}}">
      <i class="icon lg-icon">
        <div class="bg {{service.icon}}"></div>
      </i>
      <span>{{service.title ||  service.name}}</span>
      <i class="icon arrow-right"></i>
    </ion-item>
  </ion-list>
</div>
