<div class="card tip">
  <ion-item class="item-icon-right item-heading ng-hide"></ion-item>
  <ion-item>
    <div>
      <i class="icon zero-state-icon">
        <img src="img/icon-receive-tip.svg"/>
      </i>
    </div>
    <div class="title" translate>
      Start receiving
    </div>
    <span class="subtitle" translate>
      To get started receiving digital currency you need to add a wallet.
    </span>
    <button class="button button-standard button-primary" ng-click="createWallet()" translate>
      Add wallet
    </button>
  </ion-item>
</div>
