<div class="card tip">
  <div class="item item-icon-right item-heading ng-hide"></div>
  <div class="item"></div>
    <div>
      <i class="icon zero-state-icon">
        <img src="img/icon-receive-tip.svg"/>
      </i>
    </div>
    <div class="title" translate>
      Start receiving
    </div>
    <div class="subtitle">
      <span ng-show="!hasWallets" translate>
        To get started receiving digital currency you need to add a wallet.
      </span>
      <div class="padding">
        <button class="button button-standard button-primary" ng-click="createWallet()" ng-show="!hasWallets" translate>
          Add wallet
        </button>
      </div>
    </div>
  </div>
</div>
