<div class="card tip">
  <div class="item item-icon-right item-heading ng-hide"></div>
  <div class="item">
    <div>
      <i class="icon zero-state-icon">
        <img src="img/icon-send-tip.svg"/>
      </i>
    </div>
    <div class="title" translate>
      Start sending
    </div>
    <div ng-show="hasWallets">
      <div class="subtitle" translate>
        To get started sending digital currency share your address. You can receive digital currency from any wallet or service.
      </div>
      <div class="padding">
        <button class="button button-standard button-primary" ui-sref="tabs.receive" translate>
          Show receive address
        </button>
      </div>
    </div>
    <div ng-show="!hasWallets">
      <div class="subtitle" translate>
        To get started sending digital currency you need to add and fund a wallet.
      </div>
      <div class="padding">
        <button class="button button-standard button-primary" ng-click="createWallet()" translate>
          Add wallet
        </button>
      </div>
    </div>
  </div>
</div>
