<div class="card list homeTip" ng-if="homeTip">
  <div class="item item-icon-right item-heading">
    <a ng-click="hideHomeTip()">
      <i class="icon ion-ios-close-empty close-home-tip"></i>
    </a>
  </div>
  <div class="big-icon-svg">
    <div class="bg success center">
      <i class="ion-checkmark"></i>
    </div>
  </div>
  <div class="title" translate>
    Your wallet is ready!
  </div>
  <div class="subtitle" translate>
    On this screen you can see all your wallets, accounts, and assets.
  </div>
</div>
