<action-sheet show="show" class="wallet-selector">
  <i class="close-button ion-ios-close-empty" ng-click="hide()"></i>
  <div class="header">{{title}}</div>
  <a ng-repeat="w in wallets track by $index"
    class="item item-icon-left item-lg-icon-left item-icon-right wallet-outer"
    ng-click="selectWallet(w)">
      <i class="icon lg-icon">
        <div class="bg wallet-icon" ng-class="{'wallet-background-color-default': !w.color}" ng-style="{'background-color': w.color}"></div>
      </i>
      <div class="wallet-inner">
        <div class="wallet-details">
          <div class="wallet-name">
            {{w.name}}
          </div>
          <p class="wallet-balance">
            <span ng-if="!w.isComplete()" class="assertive" translate>
              Incomplete
            </span>
            <span ng-if="w.isComplete()">
              <span ng-if="!w.balanceHidden">{{w.status.availableBalanceStr}}</span>
              <span ng-if="w.balanceHidden" translate>[Balance Hidden]</span>
            </span>
          </span>
          &nbsp;
          </p>
        </div>
        <i class="check ion-ios-checkmark-empty" ng-show="selectedWallet === w"></i>
      </div>
    </a>
</action-sheet>
