<a class="item item-sub item-icon-left item-big-icon-left item-icon-right wallet" ng-click="openWallet(wallet)">
  <i class="icon big-icon-svg">
   <div class="bg wallet-icon" ng-style="{'background-color': wallet.color}"></div>
  </i>
  <span class=ellipsis>
    {{wallet.name || wallet.id}}
  </span>
  <p>
  <span ng-if="!wallet.isComplete()" class="assertive" translate>
    Incomplete
  </span>
  <span ng-if="wallet.isComplete()">
    <span ng-if="!wallet.balanceHidden"> {{wallet.status.totalBalanceStr ? wallet.status.totalBalanceStr : ( wallet.cachedBalance ? wallet.cachedBalance   + (wallet.cachedBalanceUpdatedOn ? ' &middot; ' + ( wallet.cachedBalanceUpdatedOn  * 1000 | amTimeAgo) : '') : ''  ) }} </span>
    <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
    <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
      {{wallet.m}}-of-{{wallet.n}}
    </span>
    <i ng-if="!wallet.balanceHidden && (wallet.status.totalBalanceAtomic != wallet.status.spendableAmount)" class="tab-home__wallet__status-icon ion-ios-timer-outline"></i>
    <span class="assertive" ng-if="wallet.error">{{wallet.error}}</span>
  </span>
  &nbsp;
  </p>
  <i class="icon arrow-right"></i>
</a>
