#ows-choose-fee-level {
  background: $v-send-bg;
  color: $v-send-color;

  .fee-header {
    height: 145px;
  }

  .item-input {
    input[type="number"] {
      display: inline-block;
      width: 100px;
      margin-right: 15px;
      text-align: center;
    }

    .unit {
      position: relative;
      top: 5px;
    }
  }

  .selected-fee-level {
    text-align: center;
    height: 145px;
    padding-top: 25px;

    .col {
      padding-top: 15px;
    }

    .separator {
      border-left: 1px solid $v-send-secondary-color;
      height: 75%;
    }

    .value {
      font-size: 20px;

      .label {
        font-size: 12px;
        color: $v-send-secondary-color;
      }
    }
  }
}
