/*
 * Distribution SCSS overrides
 */

/* Colors */
$v-primary-color:                                    #222222;
$v-secondary-color:                                  #444444;
$v-accent-color:                                     #269abc;

$v-text-primary-color:                               #222222;
$v-text-secondary-color:                             #c2c9d1;
$v-text-accent-color:                                #269abc;

$v-success-color:                                    #269abc;
$v-warning-color:                                    #e03c3c;

$v-wallet-color-map: (
   0: (color: #000000, name: 'Black'),
   1: (color: #555555, name: 'Emperor'),
   2: (color: #a51b1b, name: 'Roof Terracotta'),
   3: (color: #da422f, name: 'Punch'),
   4: (color: #f0ad4e, name: 'Sandy brown'),
   5: (color: #985f0d, name: 'Corn Harvest'),
   6: (color: #75c320, name: 'Lima'),
   7: (color: #488613, name: 'La Palma'),
   8: (color: #68c8c3, name: 'Downy'),
   9: (color: #269abc, name: 'Eastern Blue'),
  10: (color: #37656e, name: 'William'),
  11: (color: #1a4b6b, name: 'Blumine'),
  12: (color: #9b59b6, name: 'Wisteria'),
  13: (color: #6300B3, name: 'Purple')
);

/* Theme */
$v-default-wallet-color-index:                       9;
$v-top-tabs-color:                                   $v-accent-color;
$v-wallet-backup-phrase-color:                       $v-text-primary-color;
$v-wallet-backup-select-phrase-color:                $v-secondary-color;
$v-wallet-backup-select-word-bg:                     $v-accent-color;
$v-wallet-backup-select-word-color:                  $v-text-primary-color;
$v-wallet-backup-select-word-disabled-color:         $v-accent-color;
$v-tou-bg:                                           $v-secondary-color;
$v-tou-color:                                        $v-text-secondary-color;
$v-icon-border-radius:                               7px;

$v-button-primary-outline-active-color:              $v-text-primary-color;

$v-button-secondary-bg:                              $v-secondary-color;
$v-button-secondary-color:                           $v-accent-color;
$v-button-secondary-active-bg:                       darken($v-secondary-color, 10%);
$v-button-secondary-clear-color:                     $v-accent-color;
$v-button-secondary-outline-border:                  $v-accent-color;
$v-button-secondary-outline-color:                   $v-accent-color;
$v-button-secondary-outline-active-bg:               darken($v-accent-color, 10%);
$v-button-secondary-outline-active-color:            $v-accent-color;

/* Slide */
$v-slide-bg-color:                                   $v-accent-color;
$v-slider-bg-color:                                  #069074;
$v-slide-text-color:                                 #FFFFFF;

/* Onboarding */
$v-onboarding-welcome-bg:                            none;
$v-onboarding-color:                                 $v-text-secondary-color;
$v-onboarding-bar-header-color:                      $v-text-primary-color;
$v-onboarding-bar-header-button-color:               $v-accent-color;

$v-onboarding-tour-phone-bg:                         url(../img/app/onboarding/tour-phone.svg);
$v-onboarding-tour-currency-bg:                      url(../img/app/onboarding/tour-currency.svg);
$v-onboarding-tour-control-bg:                       url(../img/app/onboarding/tour-control.svg);
$v-onboarding-push-notification-bg:                  url(../img/app/onboarding/push-notifications.svg);
$v-onboarding-backup-warning-bg:                     url(../img/app/backup-warning.svg);

$v-onboarding-button-back-color:                     $v-accent-color;

$v-onboarding-button-secondary-bg:                   $v-secondary-color;
$v-onboarding-button-secondary-color:                $v-accent-color;
$v-onboarding-button-secondary-active-bg:            darken($v-secondary-color, 10%);
$v-onboarding-button-secondary-clear-color:          $v-accent-color;
$v-onboarding-button-secondary-outline-border:       $v-accent-color;
$v-onboarding-button-secondary-outline-color:        $v-accent-color;
$v-onboarding-button-secondary-outline-active-bg:    darken($v-accent-color, 10%);
$v-onboarding-button-secondary-outline-active-color: $v-accent-color;

/* Main tabs */
$v-tab-home-selected-icon:                           url('../img/app/tab-icons/ico-home-selected.svg');
$v-tab-receive-selected-icon:                        url('../img/app/tab-icons/ico-receive-selected.svg');
$v-tab-settings-selected-icon:                       url('../img/app/tab-icons/ico-settings-selected.svg');
$v-tab-scan-selected-icon:                           url('../img/app/tab-icons/ico-scan-selected.svg');
$v-tab-send-selected-icon:                           url('../img/app/tab-icons/ico-send-selected.svg');

/* Ionic variables */
$bar-royal-bg:                                       #000000;
$bar-royal-border:                                   #000000;
