/*
 * Provides the icon background shape.
 */

@mixin icon-shape($width, $height, $shadow: none) {
	border-radius: $v-icon-border-radius;
	width: $width;
	height: $height;
	box-shadow: $shadow;
	background-repeat: no-repeat;
	background-clip: padding-box;
}

/*
 * Provides the icon foreground image.
 */

@mixin icon-image($image, $size, $shadow: none) {
  background-image: url($image);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
	box-shadow: $shadow;
}
