<div ng-controller="AppletDesktopCtrl as c" ng-init="c.init()">

  <ion-content scroll="false" class="applet-desktop-view">

    <!-- applet grid -->
    <div gridster="c.gridsterOpts" class="applet-launch-container">
      <ul>
        <li class="applet-icon" gridster-item="appletLayoutMap" ng-repeat="applet in c.applets">
          <div ng-if="applet.preferences.visible">

            <!-- wallet icon -->
            <div ng-if="sidebar.isAppletWallet(applet)"
              class="wallet-underlay"
              ng-style="{'color':applet.view.avatarColor, 'background':applet.view.avatarBackground, 'border':applet.view.avatarBorder}"
              menu-toggle="right" ng-click="applet.open()">
              <div class="applet-clickable">
                <div class="wallet-icon" ng-style="{'background':applet.view.launchIconBackground}"></div>
                <div class="applet-icon-wallet-bar">
                  <span class="applet-icon-wallet-info">
                    {{applet.model.isoCode}}
                    {{applet.model.n > 1 ? applet.model.m + '/' + applet.model.n : ''}}
                    <img src="img/icon-testnet-white.svg" ng-show="applet.model.network == 'testnet'"
                      class="applet-icon-wallet-testnet">
                  </span>
                </div>
              </div>
            </div>

            <!-- builtin capability icon -->
            <div ng-if="sidebar.isAppletBuiltin(applet)"
              class="applet-image" ng-style="{'background':applet.view.launchIconBackground}"
              menu-toggle="right" ng-click="applet.open()">
              <div class="applet-clickable"></div>
            </div>

            <!-- applet icon -->
            <div ng-if="sidebar.isAppletPlugin(applet)"
              class="applet-image" ng-style="{'background':applet.view.launchIconBackground}"
              ng-click="applet.open()">
              <div class="applet-clickable"></div>
            </div>

            <!-- applet name -->
            <span class="applet-name">{{applet.header.name}}</span>

          </div>
        </li>
      </ul>
    </div>

  </ion-content>
</div>
