<action-sheet id="log-options-menu" class="ows" show="show">
  <i class="button-close" ng-click="hide()"></i>
  <div class="header" translate>Log options</div>
  <ion-list>
    <div class="check-bar-bg">
      <div ng-include="'shared/partials/check-bar/check-bar.html'"></div>
    </div>
    <ion-item class="item-icon-left icon-left-sm" ng-click="hide()" copy-to-clipboard="{{onCopy()}}">
        <i class="icon ion-clipboard"></i>
        <span translate>
          Copy to clipboard
        </span>
    </ion-item>
    <ion-item class="item-icon-left icon-left-sm" ng-show="isCordova" ng-click="onSend(); hide();">
      <i class="icon ion-ios-email-outline"></i>
      {{'Send by email' | translate}}
    </ion-item>
  </ion-list>
</action-sheet>
