#addressbook {
  background: $v-addressbook-bg;
  color: $v-addressbook-color;

  .scroll {
    height: 100%;
  }

  .icon-inline {
    position: relative;
    left: -15px;
    padding-left: 50px;
  }
}

@import "edit/edit";
@import "entry/entry";
@import "tips/tips";
