<ion-view id="addressbook" class="ows" hide-tabs="usingSideMenu">
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Address Book' | translate}}</ion-nav-title>
    <ion-nav-back-button hide-if-nav-side-menu>
    </ion-nav-back-button>
    <ion-nav-buttons side="primary">
      <div show-if-nav-side-menu ng-include="'views/navigation/side-menu/partials/header-side-menu-button/header-side-menu-button.html'"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-search" ng-show="!isEmptyList" ng-click="toggleSearch()"></button>
      <button class="button button-nav-bar button-plus" ng-show="showAddButton" ui-sref="{{sref('address-book.add')}}"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div ng-show="isEmptyList" class="ng-hide" ng-include="'views/address-book/tips/add-contacts/add-contacts.html'"></div>
    <div ng-show="!isEmptyList">
      <ion-list class="pad">
        <ion-item class="item-input item-icon-left icon-left-input" ng-if="showSearch">
          <i class="icon ion-ios-search"></i>
          <input type="search" placeholder="Search" ng-model="addrSearch.value" ng-change="findAddressbook(addrSearch.value)" ng-model-onblur>
        </ion-item>
        <ion-item class="has-click item-icon-left icon-left-lg item-icon-right" ng-repeat="addressbookEntry in addressbook track by $index"
          id="{{'entry' + $index}}" ui-sref="{{sref('address-book.entry')}}({id: addressbookEntry.id})">
          <i class="icon lg-icon left-icon">
            <gravatar class="send-gravatar" width="40" name="{{addressbookEntry.name}}" email="{{addressbookEntry.email}}"></gravatar>
          </i>
          <div class="name">{{addressbookEntry.name}}</div>
          <i class="icon arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
