.onboarding {
  background: $v-onboarding-bg;
  color: $v-onboarding-color;
  height: 100%;
  text-align: center;

  .bar.bar-header {
    background: none;
    border: 0 none transparent;
    color: $v-onboarding-bar-header-color;
    button {
      color: $v-onboarding-bar-header-button-color;
    }
  }

  .onboard-text {
    position: absolute;
    top: 50%;
    margin: auto;
    width: 100%;

    @media(max-height: 480px) {
      top: 45%;
    }

    > .onboard-topic {
      font-size: 18px;
      font-weight: bold;
      margin: auto;
      margin-bottom: 20px;
      max-width: 300px;

      &.light {
        font-family: $v-font-family-light;
        font-weight: normal;
      }

      @media(max-height: 480px) {
        max-width: 100%;
        margin-bottom: 0;
      }
    }

    > .onboard-description {
      font-family: $v-font-family-light;
      font-size: 14px;
      line-height: 1.1rem;
      color: white;
      margin: auto;
      width: 100%;
      max-width: 300px;

      @media(max-height: 480px) {
        max-width: 100%;
      }
    }
  }

  svg#alert-icon g {
    stroke: $v-onboarding-backup-alert-icon-color;
  }

  #arrow-down {
    color: $v-onboarding-backup-alert-icon-color !important;
  }

  .button-nav-bar .icon:before {
    color: $v-onboarding-bar-header-button-color;
  }
}

%cta-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pane-onboarding{
  background: $v-onboarding-pane-bg;
}
