<ion-view id="ows-settings" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Settings' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <div show-if-nav-side-menu ng-include="'views/navigation/side-menu/partials/header-side-menu-button/header-side-menu-button.html'"></div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="{{sref('address-book')}}" hide-if-nav-side-menu>
        <i class="icon list-icon">
          <img src="img/icon-contacts.svg"/>
        </i>
        <div>{{'Address Book' | translate}}</div>
        <div class="item-detail">{{addressbookEntryCount}} entries</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click item-icon-left item-icon-right" ui-sref="{{sref('help')}}" hide-if-nav-side-menu>
        <i class="icon list-icon">
          <img src="img/icon-help-support.svg"/>
        </i>
        <div>{{'Get Help' | translate }}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click item-icon-left item-icon-right" ui-sref="{{sref('feedback')}}">
        <i class="icon list-icon">
          <img src="img/icon-send-feedback.svg"/>
        </i>
        <div>{{'Give Feedback' | translate}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item ng-if="isCordova" class="has-click item-icon-left item-icon-right" ui-sref="{{sref('share-app')}}({score: 4, skipped: true, fromSettings: true})">
        <i class="icon list-icon">
          <img src="img/icon-heart.svg"/>
        </i>
        <div translate>Share {{appName}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider has-label">
        {{'Preferences' | translate}}
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="{{sref('notifications')}}">
        <i class="icon list-icon">
          <img src="img/icon-notifications.svg"/>
        </i>
        <div>{{'Notifications' | translate}}</div>
        <div class="item-detail">
          <span ng-if="pushNotificationsEnabled" translate>Enabled</span>
          <span ng-if="!pushNotificationsEnabled" translate>Disabled</span>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="{{sref('networks')}}">
        <i class="icon list-icon">
          <img src="img/icon-network.svg"/>
        </i>
        <div>{{'Currency Networks' | translate}}</div>
        <div class="item-detail">{{availableNetworks.length}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="{{sref('language')}}">
        <i class="icon list-icon">
          <img src="img/icon-language.svg"/>
        </i>
        <div>{{'Language' | translate}}</div>
        <div class="item-detail">{{currentLanguageName|translate}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="{{sref('app-lock')}}" ng-if="isCordova || isDevel">
        <i class="icon list-icon">
          <img src="img/icon-locked.svg"/>
        </i>
        <div>{{'App Lock' | translate}}</div>
        <div class="item-detail">{{appLockMethod}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider has-label" ng-show="wallets[0]">{{'Wallets' | translate}}</ion-item>
      <ion-item class="has-click item-icon-left item-icon-right" href ui-sref="{{sref('preferences')}}({'walletId': wallet.id})"
        ng-class="{'has-detail': wallet.error || !wallet.isComplete() || wallet.needsBackup || wallet.n > 1}"
        ng-repeat="wallet in wallets track by $index">
        <i class="icon sm-icon left-icon custom">
          <div class="bg icon-wallet" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}"></div>
        </i>
        <span>{{wallet.name || wallet.id}}</span>
        <div class="item-detail">
          <span class="text-error" ng-show="wallet.error">{{wallet.error}}</span>
          <span ng-show="!wallet.error">
            <span class="text-danger" ng-show="!wallet.isComplete()">{{'Incomplete' | translate}}</span>
            <span class="text-danger" ng-show="wallet.isComplete() && wallet.needsBackup">{{'Backup needed' | translate}}</span>
            <span ng-if="wallet.isComplete() && !wallet.needsBackup">
              <span ng-if="wallet.n > 1"> &middot; {{wallet.m}}-of-{{wallet.n}}</span>
            </span>
          </span>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click item-icon-right item-icon-left" href ui-sref="{{sref('plugins')}}">
        <i class="icon list-icon">
          <img src="img/icon-plugins.svg"/>
        </i>
        <div>{{'Plugins' | translate}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click item-icon-right item-icon-left" href ui-sref="{{sref('advanced')}}">
        <i class="icon list-icon">
          <img src="img/icon-advanced.svg"/>
        </i>
        <div>{{'Advanced' | translate}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click item-icon-left item-icon-right" href ui-sref="{{sref('about')}}">
        <i class="icon list-icon">
          <img src="img/icon-about.svg"/>
        </i>
        <div>{{'About' | translate}}  {{appName}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
