<ion-view id="ows-scan" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Scan' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <div ng-if="usingSideMenu && canShowSideMenuButton"
        ng-include="'views/navigation/side-menu/partials/header-side-menu-button/header-side-menu-button.html'">
      </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-close ng-hide" ng-click="goBack()" ng-show="canGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div ng-include="'views/scan/partials/scan-overlay/scan-overlay.html'"></div>
  </ion-content>
</ion-view>
