<ion-view id="scan" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Scan' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <div ng-if="usingSideMenu && canShowSideMenuButton"
        ng-include="'views/navigation/side-menu/partials/header-side-menu-button/header-side-menu-button.html'">
      </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-close ng-hide" ng-click="goBack()" ng-show="canGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div ng-show="currentState === scannerStates.unauthorized" class="has-problems ng-hide" ng-include="'views/scan/tips/unauthorized/unauthorized.html'"></div>
    <div ng-show="currentState === scannerStates.denied" class="has-problems ng-hide" ng-include="'views/scan/tips/denied/denied.html'"></div>
    <div ng-show="currentState === scannerStates.unavailable" class="has-problems ng-hide" ng-include="'views/scan/tips/unavailable/unavailable.html'"></div>
    <div ng-show="currentState === scannerStates.visible" class="camera-ready scan-overlay ng-hide">
      <div class="guides">
        <img class="svg qr-scan-guides" src="img/qr-scan-guides.svg">
      </div>
      <div class="scanner-controls">
        <a ng-click="toggleLight()" ng-show="canEnableLight">
          <i class="icon">
            <div class="icon-flash" ng-class="{'active': lightActive}"></div>
          </i>
        </a>
        <a ng-click="toggleCamera()" ng-show="canChangeCamera">
          <i class="icon">
            <div class="icon-camera-toggle" ng-class="{'active': cameraToggleActive}"></div>
          </i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
