.text-disabled {
  color: $v-disabled-color;
}

.text-warning {
  color: $v-warning-color;
}

.text-error {
  color: $v-assertive-color;
}

.text-danger {
  color: $v-assertive-color;
}

.spinner {
    stroke: $v-spinner-color;
    fill: $v-spinner-color;
}

.bar.bar-header {
  background: $v-bar-header-bg;
  border-bottom: $v-bar-header-border;
  color: $v-bar-header-color;

  .button {
    color: $v-bar-header-color;
  }
}

#bullet-list {
  font-size: 15px;
  margin: 10px auto 10px 1.5em;
}

#bullet-list ul {
  margin-top: 10px;
}

#bullet-list ul li {
  text-align: left;
  list-style: disc outside;

  span {
    position: relative;
    left: -5px;
  }
}

/*
 *  QR code presentation
 */

.qrcode {
  padding: 20px;
  background: $v-white-color;
  border-radius: 3px;
}

/*
 *  A search input
 */

.search-wrapper {
  background: $v-list-item-bg;
  margin-bottom: 20px;
  padding-bottom: 10px;

  .search {
    border: none;
    background: none;
    margin-right: 15px;

    i {
      font-size: 18px;
      position: relative;
      top: 3px;

      &.icon-right {
        padding-left: 10px;
      }
    }
  }
}

/*
 *  A very visible notification container
 */

.box-notification {
  color: $v-notification-color;
  font-size: 16px;
  padding: 0.5rem;
  border: 1px solid;
  margin: 10px;
  box-shadow: $v-subtle-box-shadow;

  .title {
    margin: 5px;
    font-weight: bold;
  }

  div {
    margin-bottom: 10px;
  }

  a {
    color: $v-link-color;
    background: $v-notification-color;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    border-radius: 20px;
    padding: 0 10px;

    &:before {
      margin-top: 10px;
    }
  }

  &.info {
    border: $v-notification-info-border;
    background: $v-notification-info-bg;

    .title {
      &:before {
        content: "\f149";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 10px;
      }
    }

    a {
      color: $v-notification-info-bg;
    }
  }

  &.warning {
    border: $v-notification-warning-border;
    background: $v-notification-warning-bg;

    .title {
      &:before {
        content: "\f100";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 10px;
      }
    }

    a {
      color: $v-notification-warning-bg;
    }
  }

  &.error {
    border: $v-notification-error-border;
    background: $v-notification-error-bg;

    .title {
      &:before {
        content: "\f128";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 10px;
      }
    }

    a {
      color: $v-notification-error-bg;
    }
  }
}

/*
 *  Used with .card to present an informative message in a view
 */

.tip {
  text-align: center;
  padding: 0 20px 20px;

  & .item-heading {
    margin-top: 10px;
    background: 0 none;
  }

  .item {
    border-style: none;
  }

  & .title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px;
  }

  & .subtitle {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
  }

  .lg-icon {
    .bg.success {
      padding: 0 10px;
      box-shadow: none;
    }
  }
}

/*
 *  Action selector is used to present an action sheet
 */

.action-selector {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $v-action-selector-height;
  background: $v-action-selector-bg !important;
  padding: 0;
  z-index: 2;
  cursor: pointer;
  cursor: hand;

  &:before {
    content: "\f3d8";
    font-family: "Ionicons";
    font-size: 24px;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 3;
  }

  &.list .item {
    background: none !important;

    &:before {
      background: none !important;
    }
  }
}

.has-action-selector {
  padding-bottom: $v-action-selector-height;
}
