/***********
 *
 *  Icon presentation examples.
 *
 *   Shaped icon:
 *
 *   <i class="icon lg-icon">
 *     <div class="bg wallet-icon"></div>
 *   </i>
 *
 *   img tag icon:
 *
 *   <i class="icon md-icon">
 *     <img class="bg" ng-src="img/my-icon.svg">
 *   </i>
 *
 **********/

/*
 * Shaped icon image assignments. Each icon entry defines a new icon for use in views.
 */

.bg {
  &.wallet-icon {
    @include icon-image('../img/icon-wallet.svg', 60%);
  }

  &.wallet-add-icon {
    @include icon-image('../img/icon-user-add.svg', 60%);
  }

  &.wallet-import-icon {
    @include icon-image('../img/icon-import.svg', 60%);
  }

  &.user-icon {
    @include icon-image('../img/icon-contact-placeholder.svg', 60%);
  }
}

/*
 * Draw an icon background using the icon-shape().
 * Must provide a background-color for the shape to be visible.
 * Classes also usable with explicit img tags.
 *
 * Used for large shaped (wallet) and img icon
 */

.lg-icon {
  padding: 0 7px;

  .center {
    margin: 0 auto !important;
  }

  // Icon with shape
  .bg {
    @include icon-shape(40px, 40px);

    &.success {
      background: $v-success-color;

      > i {
        font-size: 24px;
        color: $v-white-color;
        position: relative;
        top: 8px;
        left: -4px;
      }
    }
  }

  // Icon with explicit img
  > img.bg {
    height: 40px;
  }

  &.wide-icon > img.bg {
    width: 50px;
    margin-left: -10px;
  }

  &.shadow {
    > .bg {
      @include icon-shape(40px, 40px, $v-hovering-box-shadow);
    }
  }
}

/*
 * Used for medium shaped (wallet) and img icon
 */

.md-icon {
  padding: 0 7px;

  > .center {
    margin: 0 auto !important;
  }

  // Icon with shape
  > .bg {
    @include icon-shape(30px, 30px);
  }

  // Icon with explicit img
  > img.bg {
    height: 20px;
  }

  &.wide-icon > img.bg {
    width: 40px;
    margin-left: -8px;
  }

  &.shadow {
    > .bg {
      @include icon-shape(30px, 30px, $v-hovering-box-shadow);
    }
  }
}

/*
 * Used for small shaped (wallet) and img icon
 */

.sm-icon {
  padding: 0;

  > .center {
    margin: 0 auto !important;
  }

  // Icon with shape
  > .bg {
    @include icon-shape(20px, 20px);
  }

  // Icon with explicit img
  > img.bg {
    height: 18px;
  }
  
  &.wide-icon > img.bg {
    width: 25px;
    margin-left: -3px;
  }

  &.shadow {
    > .bg {
      @include icon-shape(20px, 20px, $v-hovering-box-shadow);
    }
  }
}

/*
 * Used for list icons (e.g., for settings icons on left)
 * Will show the shape if background-color is specified.
 */

.list-icon {
  padding: 0 7px;

  > .center {
    margin: 0 auto !important;
  }

  > .bg {
    @include icon-shape(20px, 20px);
    border-radius: 0 !important;
  }

  &.wide-icon > img.bg {
    width: 30px;
    margin-left: -5px;
  }
}

/*
 * Icon treatments
 */

.icon.arrow-right {
  @extend .ion-ios-arrow-right;
  @extend .just-a-hint;
}

.icon.arrow-down {
  @extend .ion-ios-arrow-down;
  @extend .just-a-hint;
}

.icon.arrow-up {
  @extend .ion-ios-arrow-up;
  @extend .just-a-hint;
}

.just-a-hint {
  opacity: 0.4;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: contain;
    height: 16px;
  }
}
