/* This is for rules that don't yet have a home.
 * Goal is to delete this file. Search the regex: /class=".*CLASS.*?"/
 */

.item-toggle, .item {
  white-space: normal;
}

/* Turn Off Number Input Spinners */

input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Spinner */
.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
  height: 24px;
}

/* Wrap text from item-note */
.item-note {
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
}

.back-button {
  border: 0;
  .icon:before {
    color: $v-white-color;
    font-size: 30px !important;
    font-weight: bold;
    margin-left: 5px;
  }
}

.search-button {
  .icon:before {
    color: $v-white-color;
    font-size: 30px !important;
    margin-left: 5px;
  }
}

.name-wallet {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0 !important;
  line-height: 14px;
}

.updating {
  div {
    text-align: center;
  }
  .spinner {
    margin: auto;
    height: 2em;
    text-align: center;
  }
}

#qr-canvas {
  display: none;
}

#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}
