<ion-view id="onboard-create-first-wallet" class="onboarding">
  <ion-content ng-controller="createFirstWalletController" scroll="false">
    <img ng-src="img/onboarding/create-{{network.currency}}.svg" />
    <div class="onboard-text">
      <div class="onboard-topic" translate>Create your initial wallet</div>
      <div class="onboard-description" translate>Choose which kind of wallet to create now. You can always create more wallets later. If you have a backup of an existing wallet you can choose to restore your backup instead.</div>
    </div>
		<div class="button-bar padding">
      <a grouped-radio="n.getURI()" ng-model="data.networkURI" ng-repeat="n in availableNetworks">{{n.getCurrencyLabel()}}</a>
    </div>
    <div id="cta-buttons">
      <button class="button button-standard button-primary" id="get-started" ng-click="createFirstWallet()" translate-context="button" translate>Create {{network.getFriendlyNetLabel()}} wallet</button>
      <button class="button button-standard button-secondary button-clear" id="restore" translate href ui-sref="onboarding.import({'fromOnboarding':true})">Restore from backup</button>
    </div>
  </ion-content>
</ion-view>
