#ows-copayers-invitation {
  background: $v-home-bg;
  color: $v-home-color;

  .check {
    color: $v-success-color !important;
  }

  .copayers-secret {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}
