<div class="card tip" ng-if="homeTip">
  <ion-item class="item-icon-right item-heading">
    <a ng-click="hideHomeTip()">
      <i class="icon ion-ios-close-empty close-home-tip"></i>
    </a>
  </ion-item>
  <ion-item>
    <div class="lg-icon">
      <div class="bg success center">
        <i class="ion-checkmark"></i>
      </div>
    </div>
    <div class="title" translate>
      Your wallet is ready!
    </div>
    <div class="subtitle" translate>
      On this screen you can see all your wallets, accounts, and assets.
    </div>
  </ion-item>
</div>
