<ion-modal-view id="paypro" class="ows">
  <ion-header-bar align-title="center" class="bar bar-header">
    <div class="title" translate>Payment request</div>
    <button class="button button-nav-bar button-close button-right" ng-click="cancel()"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="tx-header">
        <div class="tx-label">
          <img src="img/icon-tx-sent-outline.svg">
          <span translate>Sending</span>
        </div>
        <div class="tx-amount-wrapper">
          <div class="tx-amount">{{tx.amountValueStr || '&middot;&middot;&middot;'}} <span class="tx-unit">{{tx.amountAtomicStr}}</span></div>
          <div class="tx-alternative" ng-show="isLivenet(wallet.networkURI)">{{tx.alternativeAmountStr || '&middot;&middot;&middot;'}}</div>
        </div>
      </ion-item>
      <ion-item class="has-label" ng-if="tx.paypro.domain">
        <span class="input-label" translate>Pay To</span>
        <div class="item item-sub item-info item-fh">
          {{tx.paypro.domain}}
        </div>
      </ion-item>
      <ion-item class="has-label" ng-if="tx.paypro.toAddress">
        <span class="input-label" translate>Address</span>
        <div class="item item-sub item-info item-fh">
          {{tx.paypro.toAddress}}
        </div>
      </ion-item>
      <ion-item class="has-label" ng-if="tx.paypro.toAddress">
        <span class="input-label" translate>Certified By</span>
        <div class="item item-sub item-info item-fh">
          <span ng-show="tx.paypro.caTrusted">
            <i class="ion-locked text-success"></i>
            {{tx.paypro.caName}}
            <div>
              <i class="ion-checkmark-circled"></i>
              <span translate>Trusted Certificate</span>
            </div>
          </span>
          <span ng-show="!tx.paypro.caTrusted">
            <span ng-show="tx.paypro.selfSigned">
              <i class="ion-unlocked text-danger"></i>
              <span translate>Self-signed Certificate</span>
              <div>
                <i class="ion-alert-circled"></i>
                <span translate>UNTRUSTED CERTIFICATE</span>
              </div>
            </span>
            <span ng-show="!tx.paypro.selfSigned">
              <i class="ion-unlocked text-danger"></i>
              {{tx.paypro.caName}}
              <div>
                <i class="ion-alert-circled"></i>
                <span translate>UNTRUSTED CERTIFICATE</span>
              </div>
            </span>
          </span>
        </div>
      </ion-item>
      <ion-item class="has-label" ng-if="tx.paypro.toAddress">
        <span class="input-label" translate>Memo</span>
        <div class="item item-sub item-info item-fh">
          {{tx.paypro.memo}}
        </div>
      </ion-item>
      <ion-item class="has-label" ng-if="tx.paypro.expires">
        <span class="input-label" translate>Expires</span>
        <div class="item item-sub item-info item-fh">
          {{tx.paypro.expires * 1000 | amTimeAgo}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
