#onboarding-collect-email {

  .in-front-of-action-sheet-backdrop {
    z-index: 100;
  }

  .success-container {
    position: relative;
    top: 15vh;

    >i {
      font-size: 64px;
    }

    .success-text {
      margin-top: 15px;

      >.success-title {
        font-size: 28px;
      }

      >.success-message {
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

@import "collect-email-menu/collect-email-menu";
