<ion-view id="ows-onboarding-collect-email" class="ows onboarding">
  <ion-nav-bar class="bar in-front-of-action-sheet-backdrop">
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="goNextView()" translate>
        Skip
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="success-container">
      <i class="ion-checkmark-circled"></i>
      <div class="success-text">
        <div class="success-title" translate>
          Success
        </div>
        <div class="success-message" translate>
          Your wallet was created successfully.
        </div>
      </div>
    </div>
  </ion-content>
  <collect-email-menu show="true" on-accept-email="acceptEmail">
  </collect-email-menu>
</ion-view>
