<ion-view id="addressbook" hide-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>{{'Address Book' | translate}}</ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-back button-clear ng-hide" ng-show="showAddIcon" ui-sref="tabs.addressbook.add">
        <i class="icon ion-ios-plus-empty"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <span ng-show="isEmptyList">
      <div class="zero-state">
        <i class="icon zero-state-icon">
          <img src="img/icon-user-add.svg"/>
        </i>
        <div class="zero-state-heading" translate>No contacts yet</div>
        <div class="zero-state-description" translate>Get started by adding your first one.</div>
        <div class="zero-state-cta">
          <button class="button button-standard button-primary" ui-sref="tabs.addressbook.add" translate>Add Contact</button>
        </div>
      </div>
    </span>
    <span ng-show="!isEmptyList">
      <div class="search-wrapper">
        <label class="item item-input search">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="addrSearch.value" ng-change="findAddressbook(addrSearch.value)" ng-model-onblur>
        </label>
      </div>
      <div class="list">
        <a class="item item-icon-left icon-left-lg item-icon-right" ng-repeat="addressbookEntry in addressbook"
          ui-sref="tabs.addressbook.entry({id: addressbookEntry.id})">
          <i class="icon lg-icon">
            <gravatar class="send-gravatar" width="40" name="{{addressbookEntry.name}}" email="{{addressbookEntry.email}}"></gravatar>
          </i>
          <div class="name">{{addressbookEntry.name}}</div>
          <i class="icon arrow-right"></i>
        </a>
      </div>
    </span>
  </ion-content>
</ion-view>
