<ion-view id="send-feedback" hide-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Give Feedback' | translate}}</ion-nav-title>
    <ion-nav-buttons side="primary">
      <button ng-show="score" class="button button-nav-bar button-clear" ng-click="sendFeedback(null, true)" translate>
        Cancel
      </button>
      <button ng-show="!score || fromSettings" class="button button-nav-bar button-clear" ng-click="goBack()">
        <i class="icon ion-ios-arrow-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" scroll="false">
    <ion-list>
      <ion-item class="item-no-bg row" ng-if="!justFeedback">
        <div class="col col-50">
          <h1>
            {{reaction}}
          </h1>
        </div>
        <div class="col col-50 rating" ng-if="score">
          <img class="star" ng-if="1 <= score" src="img/icon-star-filled.svg"/>
          <img class="star" ng-if="1 > score" src="img/icon-star.svg"/>
          <img class="star" ng-if="2 <= score" src="img/icon-star-filled.svg"/>
          <img class="star" ng-if="2 > score" src="img/icon-star.svg"/>
          <img class="star" ng-if="3 <= score" src="img/icon-star-filled.svg"/>
          <img class="star" ng-if="3 > score" src="img/icon-star.svg"/>
          <img class="star" ng-if="4 <= score" src="img/icon-star-filled.svg"/>
          <img class="star" ng-if="4 > score" src="img/icon-star.svg"/>
          <img class="star" ng-if="5 ==  score" src="img/icon-star-filled.svg"/>
          <img class="star" ng-if="5 > score" src="img/icon-star.svg"/>
        </div>
      </ion-item>
      <div class="box-notification info clear">
        {{comment}}
      </div>
      <ion-item class="item-fh">
        <textarea ng-model="feedback.value" rows="10" placeholder="{{'Your ideas, feedback, or comments' | translate}}"></textarea>
      </ion-item>
    </ion-list>
    <button type="submit" class="button button-standard button-primary m20t" ng-disabled="!feedback.value"
      ng-click="sendFeedback(feedback.value)" translate>
      Send
    </button>
  </ion-content>
</ion-view>
