#addressbook-entry {
  background: $v-addressbook-bg;
  color: $v-addressbook-color;

  @include common;

  .item-icon-left.icon-inline {
    padding-left: 30px;

    .icon {
      top: 18px;
    }
  }

  .gravatar-content {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  .has-click {
    cursor: pointer;
  }
}
