#ows-addressbook-entry-edit {
  background: $v-addressbook-bg;
  color: $v-addressbook-color;

  .gravatar-content {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

	.icon-scanner {
		right: -12px;
	}
}
