<ion-view id="addressbook-entry-edit" class="ows" hide-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button button-clear" ng-click="close()" translate>
        Cancel
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="done()"
        ng-disabled="form.addressbookForm.$pristine || !form.addressbookForm.$valid" translate>
        Done
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="gravatar-content">
      <gravatar name="{{addressbookEntry.name}}" width="80" email="{{addressbookEntry.email}}"></gravatar>
      <div>{{addressbookEntry.name || '\u00A0'}}</div>
    </div>
    <div ng-include="'views/address-book/edit/edit-form.html'"></div>
  </ion-content>
</ion-view>
