 @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
 }

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
 }
  
@mixin fade-in($duration: 1s) {
  animation-name: fadeIn;
  animation-duration: $duration;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: both;
 }
