%button-standard {
  width: 85%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bar.bar-header {

  // Match left position of ionic placed <ion-nav-back-button>
  .primary-buttons {
    .button.button-nav-bar {
      padding-left: 2px;
    }
  }

  .button {
    color: $v-bar-header-button-color !important;
    background: none;
    border: none;

    .icon:before {
      font-size: 32px !important;
    }

    &.button-nav-bar {
      // For modal header bars
      &.button-right {
        position: absolute;
        right: 5px;
      }

      &.button-back:before {
        content: "\f3d2";
        font-family: "Ionicons";
        font-size: 32px;
        padding-left: 5px;
      }

      &.button-close:before {
        content: "\f404";
        font-family: "Ionicons";
        font-size: 42px;
      }

      &.button-menu:before {
        content: "\f46a";
        font-family: "Ionicons";
        font-size: 42px;
      }

      &.button-share:before {
        content: "\f3ac";
        font-family: "Ionicons";
        font-size: 42px;
      }

      &.button-share-ios:before {
        content: "\f4ca";
        font-family: "Ionicons";
        font-size: 32px;
      }

      &.button-refresh:before {
        content: "\f49a";
        font-family: "Ionicons";
        font-size: 42px;
      }

      &.button-search:before {
        content: "\f4a4";
        font-family: "Ionicons";
        font-size: 28px;
      }

      &.button-plus:before {
        content: "\f489";
        font-family: "Ionicons";
        font-size: 42px;
      }

      &.button-navicon:before {
        content: "\f20e";
        font-family: "Ionicons";
        font-size: 32px;
      }
    }
  }
}

.button-clear {
  background: none !important;
}

.button,
.backup .button,
.onboarding .button,
.tour .button {
  &.button-primary {
    @include button-style($v-button-primary-bg, $v-button-primary-border, $v-button-primary-active-bg, $v-button-primary-active-border, $v-button-primary-color);
    @include button-clear($v-button-primary-clear-color);
    @include button-outline($v-button-primary-outline-color);
  }
  &.button-primary,
  &.button-secondary,
  &.button-light,
  &.button-assertive {
    &.button-standard {
      @extend %button-standard;
      & + .button-standard {
        margin-top: 1rem;
      }
    }
  }
}

.backup .button {
  &.button-secondary {
    @include button-style($v-backup-button-secondary-bg, $v-backup-button-secondary-border, $v-backup-button-secondary-active-bg, $v-backup-button-secondary-active-border, $v-backup-button-secondary-color);
    @include button-clear($v-backup-button-secondary-clear-color);
    @include button-outline($v-backup-button-secondary-outline-color);
  }
}

.onboarding .button {
  &.button-secondary {
    @include button-style($v-onboarding-button-secondary-bg, $v-onboarding-button-secondary-border, $v-onboarding-button-secondary-active-bg, $v-onboarding-button-secondary-active-border, $v-onboarding-button-secondary-color);
    @include button-clear($v-onboarding-button-secondary-clear-color);
    @include button-outline($v-onboarding-button-secondary-outline-color);
  }
}

.tour .button {
  &.button-secondary {
    @include button-style($v-tour-button-secondary-bg, $v-tour-button-secondary-border, $v-tour-button-secondary-active-bg, $v-tour-button-secondary-active-border, $v-tour-button-secondary-color);
    @include button-clear($v-tour-button-secondary-clear-color);
    @include button-outline($v-tour-button-secondary-outline-color);
  }
}

#wallet .button-action {
  @include button-style($v-wallet-action-button-bg, $v-wallet-action-button-border, $v-wallet-action-button-active-bg, $v-wallet-action-button-active-border, $v-wallet-action-button-color);
  @include button-clear($v-wallet-action-button-clear-color);
  @include button-outline($v-wallet-action-button-outline-color);
}

.button {
  &.button-secondary {
    @include button-style($v-button-secondary-bg, $v-button-secondary-border, $v-button-secondary-active-bg, $v-button-secondary-active-border, $v-button-secondary-color);
    @include button-clear($v-button-secondary-clear-color);
    @include button-outline($v-button-secondary-outline-color);
  }
}

.button {
  &.button-assertive {
    @include button-style($v-button-assertive-bg, $v-button-assertive-border, $v-button-assertive-active-bg, $v-button-assertive-active-border, $v-button-assertive-color);
    @include button-clear($v-button-assertive-clear-color);
    @include button-outline($v-button-assertive-outline-color);
  }
}
