.bar.bar-header {
  background: $v-bar-header-bg;
  border-bottom: $v-bar-header-border;
  color: $v-bar-header-color;

  .button {
    color: $v-bar-header-color;
  }
}

.spinner svg {
  width: 18px;
  height: 18px;
  stroke: $v-spinner-color;
  fill: $v-spinner-color;
  transform: translateY(3px);
}

/*
 *  Text
 */

h1 {
  color: $v-heading-text-color;
  font-size: 28px;
  font-weight: bold;
  line-height: 2.8rem;
}

h2, h3, h4 {
  color: $v-heading-text-color;
  font-size: 16px;
  line-height: 1.2rem;
}

p {
  color: $v-text-color;
  font-size: 14px;
  line-height: 1.2rem;
}

.text-disabled {
  color: $v-disabled-color;
}

.text-success {
  color: $v-success-color;
}

.text-warning {
  color: $v-warning-color;
}

.text-error,
.text-danger {
  color: $v-assertive-color;
}

/*
 *  Bulleted list
 */

#bullet-list {
  font-size: 15px;
  margin: 10px auto 10px 1.5em;
}

#bullet-list ul {
  margin-top: 10px;
}

#bullet-list ul li {
  text-align: left;
  list-style: disc outside;

  span {
    position: relative;
    left: -5px;
  }
}

/*
 *  QR code presentation
 */

.qrcode {
  padding: 20px;
  background: $v-white-color;
  border-radius: 3px;
}

/*
 *  Popup dialog
 */

.popup {
  background: $v-popup-bg !important;
  border-radius: 3px !important;
  border: $v-popup-border;

  .popup-head {
    border-bottom: $v-popup-head-border;

    .popup-title {
      color: $v-popup-title-color;
    }

    .popup-sub-title {
      color: $v-popup-sub-title-color;
    }
  }
}

/*
 *  A very visible notification container
 */

.box-notification {
  font-size: 14px;
  padding: 0.5rem;
  margin: 10px;
  box-shadow: $v-subtle-box-shadow;

  h1, h2 {
    color: $v-notification-color;
    font-weight: bold;
    margin: 5px 5px 5px 0;
    white-space: initial;

    .notice {
      font-weight: normal;
    }
  }

  p {
    color: $v-notification-color;
    white-space: initial;
  }

  a {
    color: $v-link-color;
    background: $v-notification-color;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
    border-radius: 20px;
    padding: 0 10px;

    &:before {
      margin-top: 10px;
    }
  }

  &.compact {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  &.info {
    border: $v-notification-info-border;
    background: $v-notification-info-bg;

    &.clear {
      border: none;
      background: none;
      box-shadow: none;

      a {
        color: $v-link-color;
      }
    }

    h1, h2,
    .notice {
      &:before {
        content: "\f44c";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 7px;

        h1 {
          font-size: 20px;
        }
      }
    }

    a {
      color: $v-notification-info-bg;
    }
  }

  &.warning {
    border: $v-notification-warning-border;
    background: $v-notification-warning-bg;

    &.clear {
      border: none;
      background: none;
      box-shadow: none;

      a {
        color: $v-link-color;
      }
    }
    
    h1, h2,
    .notice {
      &:before {
        content: "\f100";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 7px;

        h1 {
          font-size: 20px;
        }
      }
    }

    a {
      color: $v-notification-warning-bg;
    }
  }

  &.error {
    border: $v-notification-error-border;
    background: $v-notification-error-bg;

    &.clear {
      border: none;
      background: none;
      box-shadow: none;

      a {
        color: $v-link-color;
      }
    }
    
    h1, h2,
    .notice {
      &:before {
        content: "\f405";
        font-family: "Ionicons";
        font-size: 18px;
        margin-right: 7px;

        h1 {
          font-size: 20px;
        }
      }
    }

    a {
      color: $v-notification-error-bg;
    }
  }
}

/*
 *  Used with .card to present an informative message in a view
 */

.tip {
  text-align: center;
  padding: 0 20px 20px;

  & .item-heading {
    margin-top: 10px;
    background: 0 none;
  }

  .item {
    border-style: none;
  }

  & .title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px;
  }

  & .subtitle {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
  }

  .lg-icon {
    .bg.success {
      padding: 0 10px;
      box-shadow: none;
    }
  }
}

/*
 * Transaction detail header
 */

.tx-header {
  background: none !important;

  .tx-label {
    display: flex;
    font-size: 18px;
    align-items: center;
    margin-bottom: 1.5rem;

    img {
      margin-right: 1rem;
      height: 35px;
      width: 35px;
    }
  }

  .tx-amount-wrapper {
    line-height: 30px;

    .tx-amount {
      font-size: 38px;
      margin-bottom: .5rem;

      > .tx-unit {
        font-family: $v-font-family-light;
      }
    }

    .tx-alternative {
      font-size: 16px;
      font-family: $v-font-family-light;
      color: $v-light-gray;
    }
  }
}
