/***********
 *
 *  Icon presentation examples.
 *
 *   Shaped icon:
 *
 *   <i class="icon lg-icon">
 *     <div class="bg icon-wallet"></div>
 *   </i>
 *
 *   Shaped icon with div tag:
 *
 *   <i class="icon lg-icon">
 *     <div class="bg" style="background-color: red; background-image: url(img/icon-user-add.svg);"></div>
 *   </i>
 *
 *   Non-shaped img tag icon (does not render background shape):
 *
 *   <i class="icon md-icon">
 *     <img class="bg" src="img/my-icon.svg">
 *   </i>
 *
 **********/

/*
 * Icon image assignments. Each icon entry defines a new icon for use in views.
 */

.bg {
  &.icon-wallet {
    @include icon-image('../img/icon-wallet.svg');
  }

  &.icon-wallet-add {
    @include icon-image('../img/icon-user-add.svg');
  }

  &.icon-wallet-import {
    @include icon-image('../img/icon-import.svg');
  }

  &.icon-user {
    @include icon-image('../img/icon-contact-placeholder.svg');
  }

  &.icon-user-add {
    @include icon-image('../img/icon-user-add.svg');
  }

  &.icon-update {
    @include icon-image('../img/icon-update.svg');
  }

  &.icon-scan-tip {
    @include icon-image('../img/icon-scan-tip.svg');
  }

  &.icon-send-tip {
    @include icon-image('../img/icon-send-tip.svg');
  }

  &.icon-receive-tip {
    @include icon-image('../img/icon-receive-tip.svg');
  }
}

/*
 * Draw an icon background using the icon-shape().
 * Must provide a background-color for the shape to be visible.
 *
 * Classes also usable with explicit <img> and <div> tags.  If an <img> tag is used then the background shape will not be rendered properly
 * since shape rendering depends on pseudo :before.
 */

%base-icon {
  padding: 0 7px;

  .center {
    margin: 0 auto !important;
  }

  // Icon with shape
  .bg {
    // Allow scaling for creating icon sizes.
    transform: inherit;

    // Provide a default color.
    @include icon-shape(40px, 40px, $v-icon-color);

    &.success {
      background: $v-success-color;

      > i {
        font-size: 24px;
        color: $v-white-color;
        position: relative;
        top: 8px;
        left: -4px;
      }
    }
  }

  // Icon with a specified image.
  > div.bg {
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }

  // Icon with an img tag.
  > img {
    height: 40px;

    &.bg {
      background: none;
    }
  }

  &.wide-icon > img.bg {
    width: 50px;
    margin-left: -10px;
  }

  &.shadow {
    > .bg {
      @include icon-shape(40px, 40px, $v-hovering-box-shadow);
    }
  }
}

.xl-icon {
  @extend %base-icon;
  transform: scale(1.33);
}

.lg-icon {
  @extend %base-icon;
  transform: scale(1.0);
}

.md-icon {
  @extend %base-icon;
  transform: scale(0.92);
}

.sm-icon {
  @extend %base-icon;
  transform: scale(0.80);
}

/*
 * Used for list icons (e.g., for settings icons on left)
 */

.list-icon {
  padding: 0 7px;

  > .center {
    margin: 0 auto !important;
  }

  > .bg {
    @include icon-shape(20px, 20px);
    border-radius: 0 !important;
  }

  // Icon with a specified image.
  > div.bg {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }

  &.wide-icon > img.bg {
    width: 30px;
    margin-left: -5px;
  }
}

/*
 * Icon treatments
 */

.icon.arrow-right {
  @extend .ion-ios-arrow-right;
  @extend .just-a-hint;
}

.icon.arrow-down {
  @extend .ion-ios-arrow-down;
  @extend .just-a-hint;
}

.icon.arrow-up {
  @extend .ion-ios-arrow-up;
  @extend .just-a-hint;
}

.just-a-hint {
  opacity: 0.4;
}

.icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: contain;
    height: 16px;
  }
}
