#rate-app {
  background: $v-feedback-bg;
  color: $v-feedback-color;
  text-align: center;

  .illustration {
    width: 5rem;
    margin-top: 33%;
    margin-bottom: 1rem;
  }

  .at-bottom {
    position: absolute;
    bottom: 22vh;
    bottom: calc(constant(safe-area-inset-bottom) + 22vh);
    bottom: calc(env(safe-area-inset-bottom) + 22vh);
  }
}
