<div class="head-content" ng-style="{'height': collapsibleItemHeight}"
  ng-class="{'collapsible': headerIsCollapsible, 'is-collapsing': isCollapsing}">
  <!-- Wallet information decoration -->
  <div ng-style="{opacity: elementOpacity}">
    <span ng-include="'views/wallet/partials/info/info.html'"></span>
  </div>
  <!-- Action buttons -->
  <span ng-include="'views/wallet/partials/actions/actions.html'" show-if-nav-side-menu></span>
  <!-- Status error -->
  <div class="error-wrapper scalable" ng-style="{'transform': collapsibleItemScale}" ng-show="updateStatusError">
    <span class="error-message">
      {{updateStatusError.message}}
      <div class="error-message-detail" ng-style="{opacity: elementOpacity}">
        {{updateStatusError.detail}}
      </div>
    </span>
  </div>
  <!-- No status error -->
  <div ng-show="!updateStatusError">
    <div class="balance-wrapper">
      <div class="scalable" ng-click="updateAll(true)" on-long-press="hideToggle()" ng-style="{'transform': collapsibleItemScale}">
        <!-- Not updating -->
        <div ng-show="!wallet.scanning" ng-switch="wallet.balanceHidden">
          <!-- Balance -->
          <div ng-switch-when="false">
            <span class="balance-value">
              {{status.totalBalanceValueStr || '\xB7\xB7\xB7'}}
            </span>
            &nbsp;
            <span class="balance-unit">
              {{status.totalBalanceUnitStr}}
            </span>
            <div class="amount-alternative" ng-if="status.totalBalanceAlternative && isLivenet(wallet.networkURI)"
              ng-style="{opacity: elementOpacity}">
              <span class="value">
                {{status.totalBalanceAlternative || '\xB7\xB7\xB7'}}
              </span>
              &nbsp;
              <span class="unit">
                {{status.alternativeIsoCode}}
              </span>
            </div>
          </div>
          <!-- Balance messages -->
          <div ng-switch-when="true">
            <span class="balance-message">
              {{'Balance Hidden' | translate}}
              <div class="balance-message-tip" ng-style="{opacity: elementOpacity}">
                {{'Tap and hold to show' | translate}}
              </div>
            </span>
          </div>
        </div>
        <!-- Updating -->
        <div ng-show="wallet.scanning">
          <span class="balance-message">
            {{'Updating...' | translate}}
            <div class="balance-message-tip" ng-style="{opacity: elementOpacity}">
              {{'Scanning for funds' | translate}}
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
