<ion-item class="item-divider item-no-border" ng-class="{'has-label': isDateInCurrentMonth(getDate(btx.time))}"
  ng-if="!isSearching ? isFirstInGroup($index) : false">
  <span ng-if="isDateInCurrentMonth(getDate(btx.time))" translate>
    Recent
  </span>
  <span ng-if="!isDateInCurrentMonth(getDate(btx.time))">
    {{getDate(btx.time) | amDateFormat:'MMMM'}}
  </span>
</ion-item>
<ion-item class="has-click item-icon-left icon-left-lg">
  <!-- Icon -->
  <i class="icon lg-icon">
    <span ng-if="isUnconfirmed(btx)">
      <img class="bg" src="img/icon-confirming.svg">
    </span>
    <span ng-if="!isUnconfirmed(btx)">
      <img class="bg" src="img/icon-tx-received-outline.svg" ng-if="btx.action == 'received'">
      <img class="bg" src="img/icon-tx-sent-outline.svg" ng-if="btx.action == 'sent'">
      <img class="bg" src="img/icon-tx-moved-outline.svg" ng-if="btx.action == 'moved'">
    </span>
  </i>
  <!-- Amount (right side) -->
  <div class="item-note ">
    <span ng-class="{'tx-amount-recent': btx.recent, 'tx-amount-received': btx.action == 'received', 'tx-amount-sent': btx.action == 'sent',
      'tx-amount-moved': btx.action == 'moved'}">
      <span ng-if="btx.action == 'sent'">–</span>
      <span ng-if="btx.action == 'invalid'" translate>
        (possible double spend)
      </span>
      <span  ng-if="btx.action != 'invalid'">
        {{btx.amountStr}}
      </span>
    </span>
    <div>
      <time ng-if="btx.time && createdWithinPastDay(btx.time * 1000)">
        {{btx.time * 1000 | amTimeAgo}}
      </time>
      <time ng-if="btx.time && !createdWithinPastDay(btx.time * 1000)">
        {{btx.time * 1000 | amDateFormat:'MMM D, YYYY'}}
      </time>
    </div>
  </div>
  <!-- Confirmed -->
  <div ng-if="!isUnconfirmed(btx)">
    <!-- Received -->
    <div ng-show="btx.action == 'received'">
      <span ng-if="btx.note.body" class="ellipsis">
        {{btx.note.body}}
      </span>
      <span ng-if="!btx.note.body" translate>
        Received
      </span>
      <span ng-if="btx.lowFees || btx.lowAmount">
        <i class="ion-alert-circled"></i>
      </span>
    </div>
    <!-- Sent -->
    <div ng-show="btx.action == 'sent'">
      <div ng-if="btx.message" class="ellipsis">
        {{btx.message}}
      </div>
      <div ng-if="!btx.message && btx.note.body" class="ellipsis">
        {{btx.note.body}}
      </div>
      <div ng-if="!btx.message && !btx.note.body && addressbook[btx.addressTo]" class="ellipsis">
        {{addressbook[btx.addressTo].name || addressbook[btx.addressTo]}}
      </div>
      <div ng-if="!btx.message && !btx.note.body && !addressbook[btx.addressTo]" translate>
        Sent
      </div>
    </div>
    <!-- Moved -->
    <div ng-show="btx.action == 'moved'">
      <div ng-if="btx.note.body" class="ellipsis">
        {{btx.note.body}}
      </div>
      <div ng-if="!btx.note.body" translate>
        Moved
      </div>
    </div>
    <!-- Invalid -->
    <span ng-if="btx.action == 'invalid'" translate>
      Invalid
    </span>
  </div>
  <!-- Unconfirmed -->
  <div ng-if="isUnconfirmed(btx)">
    <span ng-if="btx.action == 'sent' || btx.action == 'moved'" class="ellipsis">
      {{addressbook[btx.addressTo].name || addressbook[btx.addressTo] || 'Sending'|translate}}
    </span>
    <span ng-if="btx.action == 'received'" translate>
      Receiving
    </span>
  </div>
</ion-item>
