<form name="importForm3" ng-submit="importHW(importForm3)" class="setupForm" novalidate>
  <div class="card" ng-show="!seedOptions[0]">
    <ion-item translate>
      No hardware wallets supported on this device
    </ion-item>
  </div>
  <div ng-show="seedOptions[0]">
    <ion-list>
      <ion-item class="item-input item-select">
        <span translate>Wallet Type</span>
        <select ng-model="formData.seedSource" ng-options="seed as seed.label for seed in seedOptions"></select>
      </ion-item>
      <ion-item class="item-input item-stacked-label" ng-show="formData.seedSource.id == 'trezor' || formData.seedSource.id == 'ledger'">
        <span translate>Account Number</span>
        <input type="number" ng-model="formData.account" ignore-mouse-wheel>
      </ion-item>
      <ion-toggle ng-show="formData.seedSource.id == 'trezor'" ng-model="formData.isMultisig" toggle-class="toggle-positive">
        <span class="toggle-label" translate>Shared Wallet</span>
      </ion-toggle>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click" ng-click="showAdvChange()">
        <span translate>{{showAdv ? 'Hide' : 'Show'}} advanced options</span>
        <i class="icon arrow-down" ng-class="showAdv ? 'arrow-up' : 'arrow-down'"></i>
      </ion-item>
      <div ng-show="showAdv">
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Wallet Service URL</span>
          <input type="text" ng-model="formData.walletServiceUrl">
        </ion-item>
      </div>
    </ion-list>
    <button translate type="submit" class="button button-standard button-primary button-margin">
      Import
    </button>
    &nbsp; <!-- allow button bottom margin to take up space -->
  </div>
</form>
