#paper-wallet {
  background: $v-home-bg;
  color: $v-home-color;

  .button.button-standard.button-primary {
	  position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}