#ows-paper-wallet {
  background: $v-home-bg;
  color: $v-home-color;

  .button.button-standard.button-primary {
	  position: absolute;
    bottom: 30px;
    bottom: calc(constant(safe-area-inset-bottom) + 30px);
    bottom: calc(env(safe-area-inset-bottom) + 30px);
    left: 50%;
    transform: translateX(-50%);
  }
}