<ion-modal-view id="custom-amount" class="ows" ng-controller="CustomAmountCtrl" hide-tabs>
  <ion-header-bar align-title="center" class="bar bar-header">
    <div class="title">{{'Custom Amount' | translate}}</div>
    <button class="button button-nav-bar button-clear" ng-click="closeModal()">
      {{'Close' | translate}}
    </button>
    <button class="button button-nav-bar button-right" ng-show="showShareButton" ng-click="shareAddress()"
      ng-class="{'button-share-ios': showShareButton == 'iOS', 'button-share-android': showShareButton == 'Android'}">
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="address">
      <div class="address-info">
        <div class="text-center" copy-to-clipboard="{{copyToClipboard()}}">
          <div class="qr-backdrop">
            <qrcode size="220" data="{{protocol}}:{{address + '?amount=' + amountStandard}}" color="#444455"
              ng-class="{'hidden': !(address && amountStandard), 'fade-in-300': address && amountStandard}"></qrcode>
          </div>
          <div class="address-label" ng-class="{'hidden': !(address && amountStandard), 'fade-in-300': address && amountStandard}">
            <span class="ellipsis">{{address}}&nbsp;</span>
          </div>
        </div>
        <ion-list>
          <ion-item class="has-label">
            <span class="input-label" translate>Receive to</span>
            <div class="item item-sub item-icon-left icon-left-md">
              <i class="icon md-icon">
                <div class="bg icon-wallet" ng-style="{'background-color': wallet.color}"></div>
              </i>
              {{wallet.name}}
            </div>
          </ion-item>
          <ion-item>
            <span class="label" translate>Amount</span>
            <span class="item-note">
              {{amountUnitStr}}<span ng-if="altAmountStr"> - {{altAmountStr}}</span>
            </span>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
