#custom-amount {
  background: $v-receive-bg;
  color: $v-receive-color;

  .hidden {
    visibility: hidden;
  }

  .qr-backdrop {
    background: white;
    width: 260px;
    height: 260px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    border-radius: 3px;
  }

  .address {
    height: 100%;

    &-info {
      padding-top: 50px;

      .address-label {
        font-size: 14px;
        margin: 20px 0;
      }
    }
  }
}
