#txp-details {
  background: $v-home-bg;
  color: $v-home-color;

  @include common;

  .add-bottom-for-cta {
    bottom: 92px;
  }

  .item-timeline:before {
    width: 85% !important;
  }

  .timeline-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &__icon {
      display: flex;
      align-items: center;
      min-width: 40px;
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 0.5rem;
      position: relative;

      &::before {
        content: '';
        background: $v-txp-timeline-color;
        height: 100px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
        top: 0;
      }

      &::after {
        content: '';
        background: $v-txp-timeline-color;
        height: 100px;
        width: 1px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(100%);
        transform: translateX(-50%) translateY(100%);
        bottom: 0;
      }

      > div {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        border: 3px solid $v-txp-timeline-approve-color;
        display: flex;
        font-size: 13px;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        vertical-align: middle;
        color: $v-txp-timeline-approve-color;

        &.rejected {
          background: $v-txp-timeline-reject-color;
          border-color: $v-txp-timeline-reject-color;
          color: $v-home-color;
          font-weight: bold;
          font-size: 19px;
        }
      }
    }
  }
}
