wallet-selector {

  $border-color: $v-subtle-gray;

  .bp-action-sheet__sheet {
    padding-left: 2rem;
    padding-right: .75rem;
  }

  .wallet-selector {
    .wallet {
      border: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 1px;
      overflow: visible;

      > i {
        padding: 0;
        margin-left: -5px;

        > img {
          height: 39px;
          width: 39px;
          padding: 4px;
        }
      }
    }
    .wallet-inner {
      display: flex;
      position: relative;
      padding-top: 16px;
      padding-bottom: 16px;

      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: $border-color;
        bottom: 0;
        right: 0;
        content: '';
      }

      .check {
        margin-top: -0.5rem;
        margin-right: 1.2rem;
        height: 18px;
        color: $v-success-color;
        font-size: 60px;
      }
    }
    .wallet-details {
      flex-grow: 1;

      .wallet-name {
        padding-bottom: 5px;
      }

      .wallet-balance {
        color: $v-dark-gray;
        font-family: "Roboto-Light";
      }

    }
  }

}
