#wallet-activity {
  background: $v-dashboard-bg;
  color: $v-dashboard-color;

  .card {
    background: $v-white-transparent-subtle;
    color: $v-white-color;

    & > .item-heading {
      border: none;
      font-weight: bold;

      .icon {
        color: $v-white-color;
      }
    }

    .item {
      background: none;
      color: $v-white-color;
      border-color: $v-white-transparent-subtle;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}

.wallet-activity {
  &-not-pending {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
  }

  &-amount {
    float: right;
    font-size: 18px;

    @media(max-width: 320px) {
      text-align: right;
    }
  }

  &-note {
    margin-top: 3px;
    color: $v-white-color;
    font-size: 12px !important;

    &-child {
      line-height: 30px;
      vertical-align: middle;
    }

    > i {
      font-size: 21px;
      margin-right: 8px;
    }

    > time {
      float: right;
    }
  }
}
