<div class="wallet-actions" ng-controller="WalletActionsCtrl as actions">
	<div class="action-group">
		<button class="button button-action" ng-class="{'disabled': !hasBalance}" ng-click="actions.sendFrom()" translate>
			Send
	  </button>
		<button class="button button-action" ng-click="actions.receiveTo()" translate>
			Receive
	  </button>
		<button class="button button-action" ng-click="actions.settingsFor()" translate>
			<i class="icon ion-ios-gear-outline"></i>
	  </button>
	</div>
</div>
