#wallet {
  color: $v-wallet-color;

  //////////
  //
  // Values must match those in WalletCtrl.
  //
  $header-max-height: 165px;
  $nav-bar-height: 44px;
  //
  //////////

  .bar.bar-header {
    background: $v-wallet-bar-header-bg;
    border: $v-wallet-bar-header-border;
    color: $v-wallet-bar-header-color;

    button {
      color: $v-wallet-bar-header-button-color;
    }
  }

  .w-content {
    height: 100%;
    position: relative;
  }

  ion-content {
    padding-top: 0;
    top: 0;
    bottom: calc(0 + #{$nav-bar-height});
    bottom: calc(constant(safe-area-inset-bottom) + constant(safe-area-inset-top) + #{$nav-bar-height});
    bottom: calc(env(safe-area-inset-bottom) + env(safe-area-inset-top) + #{$nav-bar-height});

    &.collapsible {
      margin-top: $header-max-height;
    }

    .scroll {
      min-height: 300px;
    }
  }

  .scrollable-wallet-content {
    position: relative;
  }

  .head-wrapper {
    position: relative;
  }

  .head-content {
    width: 100%;
    height: $header-max-height;
    padding-top: 10px;

    &.is-collapsing {
      box-shadow: $v-hovering-box-shadow;
    }

    .balance-wrapper {
      padding-left: 30px;

      .balance-value {
        font-size: 38px;
      }

      .balance-unit {
        font-size: 38px;
        font-family: $v-font-family-light;
      }

      .balance-message {
        font-size: 38px;
        font-family: $v-font-family-light;

        &-tip {
          font-size: 16px;
        }
      }
    }

    .scalable {
      transform-origin: left top;
      -webkit-transform: scale3d(1, 1, 1) translateY(20px);
      transform: scale3d(1, 1, 1) translateY(20px);
    }
  }

  .list .item {
    background: $v-black-transparent-subtle;
  }

  .tx-amount {
    &-recent {
      font-weight: bold;
    }

    &-received {
      color: $v-success-color;
    }

    &-sent {
      color: $v-assertive-color;
    }

    &-moved {
      color: $v-text-color;
    }
  }

  .wallet-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: $v-white-color;
    font-size: 20px;

    .info-group {
      opacity: 0.2;

      .info {
        position: absolute;

        &.testnet {
          bottom: 20px;
          right: 5px;
          height: 36px;

          &.large {
            bottom: 50px;
            right: 15px;
            height: 85px;
          }
        }

        &.multisig {
          bottom: 50px;
          right: 15px;
          height: 85px;

          &.text {
            bottom: 26px;
            right: 50px;
            height: initial;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@import "balance/balance";
@import "copayers/copayers";
@import "partials/actions/actions";
@import "partials/messages/messages";
@import "tx-details/tx-details";
@import "tx-search/tx-search";
@import "txp-details/txp-details";
