#wallet {
  color: $v-wallet-color;

  .bar.bar-header {
    background: transparent;
  }

  .w-content {
    height: 100%;
    position: relative;
    top: $bar-height;
  }

  ion-content {
    padding-top: 0;
    top: 0;
    bottom: 0;
    bottom: calc(constant(safe-area-inset-bottom));
    bottom: calc(env(safe-area-inset-bottom));

    &.collapsible {
      margin-top: 210px;
    }

    .scroll {
      min-height: 300px;
      overflow-y: scroll;
    }
  }

  .head-wrapper {
    position: relative;
  }

  .head-content {
    width: 100%;
    height: 210px;
    padding-top: 55px;

    &.is-collapsing {
      box-shadow: $v-hovering-box-shadow;
    }

    .balance-wrapper {
      padding-left: 30px;
    }

    .make-collapsible {
      transform-origin: left top;
      -webkit-transform: scale3d(1, 1, 1) translateY(20px);
      transform: scale3d(1, 1, 1) translateY(20px);

      .balance-value {
        font-size: 38px;
      }

      .balance-unit {
        font-size: 38px;
        font-family: $v-font-family-light;
      }

      .balance-message {
        font-size: 38px;
        font-family: $v-font-family-light;

        &-tip {
          font-size: 16px;
        }
      }
    }

    &-alternative {
      line-height: 36px;

      .value {
        font-size: 14px;
        font-weight: bold;
      }

      .unit {
        font-size: 14px;
        font-family: $v-font-family-light;
      }
    }
  }

  .list .item {
    background: $v-black-transparent-subtle;
  }

  // Some fun!
  .list-fun {
    > .list {
      &:after {
        content: '\f272';
        font-family: "Ionicons";
        font-size: 36px;
        color: $v-white-transparent-mid;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 30px;
      }
    }
  }

  .tx-amount {
    &-recent {
      font-weight: bold;
    }

    &-received {
      color: $v-success-color;
    }

    &-sent {
      color: $v-assertive-color;
    }

    &-moved {
      color: $v-text-color;
    }
  }

  .wallet-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;

    .action-group {
      display: flex;
    }

    .button-action {
      border-radius: 3px;
      padding: 7px 15px;
      margin-right: 20px;
      min-width: 40px;
      min-height: 36px;
      max-height: 36px;
      font-size: 14px;
      text-align: center;
      line-height: 14px;
      color: $v-white-color;

      i {
        font-size: 24px;

        &:before {
          line-height: 21px;
        }
      }

      &.disabled {
        color: $v-white-transparent-dark;
        background: none !important;
      }
    }
  }

  .wallet-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: $v-white-color;
    font-size: 20px;

    .info-group {
      opacity: 0.2;

      .info {
        position: absolute;

        &.testnet {
          bottom: 20px;
          right: 5px;
          height: 36px;

          &.large {
            bottom: 50px;
            right: 15px;
            height: 85px;
          }
        }

        &.multisig {
          bottom: 50px;
          right: 15px;
          height: 85px;

          &.text {
            bottom: 26px;
            right: 50px;
            height: initial;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@import "balance/balance";
@import "copayers/copayers";
@import "tx-details/tx-details";
@import "tx-search/tx-search";
@import "txp-details/txp-details";
