<ion-view id="ows-wallet" class="ows" hide-tabs ng-style="{'background': wallet.background}">
  <ion-nav-bar>
    <ion-nav-title>{{wallet.name}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-search" ng-click="startSearch(); openSearchModal()" ng-if="txHistory.length > 4"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div class="w-content has-header">
    <!-- Header -->
    <div class="head-wrapper ng-hide" ng-show="wallet && wallet.isComplete() && headerIsCollapsible">
      <span ng-include="'views/wallet/partials/header/header.html'"></span>
    </div>
    <ion-content delegate-handle="walletScroll" on-scroll="getScrollPosition()" ng-style="{'margin-top': contentMargin, 'height': contentHeight}"
      ng-class="{'collapsible': headerIsCollapsible}" class="ion-content-wallet">
      <div class="scrollable-wallet-content" ng-style="{'transform': contentTransform, 'padding-bottom': contentPaddingBottom}">
        <ion-refresher ng-if="isAndroid" pulling-icon="ion-ios-refresh" spinner="ios-small" on-refresh="onRefresh()">
        </ion-refresher>
        <!-- -->
        <!-- -->
        <!-- Start header duplicate (for Android compatibility) -->
        <div class="head-wrapper ng-hide" ng-show="wallet && wallet.isComplete() && !headerIsCollapsible">
          <span ng-include="'views/wallet/partials/header/header.html'"></span>
        </div>
        <!-- End header duplicate (for Android compatibility) -->
        <!-- -->
        <!-- -->
        <!-- Wallet warnings and information -->
        <span ng-include="'views/wallet/partials/messages/messages.html'"></span>
        <!-- Complete wallet -->
        <div ng-if="wallet &&  wallet.isComplete() && !walletNotRegistered">
          <!-- Transaction proposals -->
          <div ng-if="txps[0]">
            <ion-list>
              <ion-item class="item-divider has-label item-no-border">
                <span ng-show="requiresMultipleSignatures" translate>Proposals</span>
                <span ng-show="!requiresMultipleSignatures" translate>Transactions not sent</span>
              </ion-item>
              <div ng-include="'shared/partials/txp-item/txp-item.html'" ng-repeat="tx in txps" ng-click="openTxpModal(tx)"></div>
            </ion-list>
          </div>
          <!-- Transaction history -->
          <div class="box-notification info clear" ng-show="!updatingTxHistory && !txHistory[0] && !updateTxHistoryError && !updateStatusError">
            <h2 translate>No Transactions Yet</h2>
            <p translate>Your transaction history will be shown here.</p>
          </div>
          <div class="box-notification error clear" ng-show="!updatingTxHistory && !txHistory[0] && updateTxHistoryError && !updateStatusError">
            <h2 translate>Transaction History</h2>
            <p translate>Could not update transaction history.</p>
          </div>
          <ion-list class="pad">
            <div ng-repeat="btx in txHistory track by $index" ng-click="openTxModal(btx)">
              <span ng-include="'views/wallet/partials/history/history.html'"></span>
            </div>
          </ion-list>
          <ion-infinite-scroll ng-if="txHistory[0] && txHistoryShowMore" on-infinite="showMore()" distance="1%">
          </ion-infinite-scroll>
        </div>
      </div>
    </ion-content>
  </div>
</ion-view>