<ion-view id="preferences-networks" class="ows" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list ng-if="!networkURI">
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ng-repeat="network in availableNetworks"
        ui-sref="tabs.network-settings({'networkURI': network.getURI()})">
        <i class="icon list-icon wide-icon">
          <img ng-src="img/currency-icons/icon-{{network.currency}}.svg" class="bg"/>
        </i>
        <div>{{network.getFriendlyNetLabel()}}</div>
        <div class="item-detail">
          {{networkSettings[network.getURI()].unitName}}
          {{(networkSettings[network.getURI()].isLivenet ? ', ' + networkSettings[network.getURI()].selectedAlternative.name : '')}}
          {{', ' + networkSettings[network.getURI()].currentFeeLevel}}
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
    </ion-list>
    <ion-list ng-if="networkURI">
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="tabs.unit({'networkURI': networkURI})">
        <i class="icon list-icon">
          <img src="img/icon-unit.svg" class="bg"/>
        </i>
        <div>{{'Unit' | translate}}</div>
        <div class="item-detail">{{networkSettings[networkURI].unitName}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ng-show="networkSettings[networkURI].isLivenet"
        ui-sref="tabs.alternative-currency({'networkURI': networkURI})">
        <i class="icon list-icon">
          <img src="img/icon-alternative-currency.svg" class="bg"/>
        </i>
        <div>{{'Alternative Currency' | translate}}</div>
        <div class="item-detail">{{networkSettings[networkURI].selectedAlternative.name}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click has-detail item-icon-left item-icon-right" ui-sref="tabs.fee({'networkURI': networkURI})">
        <i class="icon list-icon">
          <img src="img/icon-network.svg" class="bg"/>
        </i>
        <div>{{'Network Fee Policy' | translate}}</div>
        <div class="item-detail">{{networkSettings[networkURI].currentFeeLevel}}</div>
        <i class="icon arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
