<ion-view id="preferences-wallet" class="ows" hide-tabs="{{hideTabs}}">
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Wallet Settings' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <div ng-include="'views/wallet-settings/partials/wallet-item/wallet-item.html'"></div>
      <ion-item class="has-click item-icon-right" ui-sref="{{sref('preferences.alias')}}({'walletId': walletId})">
        <span translate>Name</span>
        <span class="item-note ellipsis">
          {{wallet.name}}
        </span>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="has-click item-icon-right" ui-sref="{{sref('preferences.color')}}({'walletId': walletId})">
        <span translate>Color</span>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-toggle ng-model="hiddenBalance.value" toggle-class="toggle-positive" ng-change="hiddenBalanceChange()">
        <span class="toggle-label" translate>Hide Balance</span>
      </ion-toggle>
      <ion-item class="item-divider has-label" ng-hide="wallet.isPrivKeyExternal() || !walletCanSign" translate>
        Security
      </ion-item>
      <ion-item class="has-click item-icon-right" ui-sref="{{sref('preferences.backup-warning')}}({from: 'preferences', 'walletId': walletId})"
        ng-hide="wallet.isPrivKeyExternal()">
        <span translate>Backup</span>
        <span class="item-note assertive" ng-show="wallet.needsBackup">
          {{'Backup needed' | translate}}
        </span>
        <i class="icon arrow-right"></i>
      </ion-item>
      <div ng-show="walletCanSign">
        <ion-toggle ng-model="encryptEnabled.value" toggle-class="toggle-positive" ng-change="encryptChange()" ng-disabled="wallet.needsBackup">
          <span ng-class="{'text-disabled': wallet.needsBackup}" class="toggle-label" translate>Request Spending Password</span>
        </ion-toggle>
        <ion-item class="item-comment append">
          <span translate>
            If enabled, all sensitive information (private key and recovery phrase) and actions (spending and exporting) associated with this wallet will be protected.
          </span>
          <div class="box-notification warning" ng-show="wallet.needsBackup">
            <h2 translate>Backup Required</h2>
            <p translate>This wallet must be backed up before a spending password can be created.</p>
          </div>
        </ion-item>
      </div>
      <ion-toggle ng-model="touchIdEnabled.value" toggle-class="toggle-positive" ng-change="touchIdChange()"
        ng-show="walletCanSign && touchIdAvailable">
        <span class="toggle-label" translate>Request Fingerprint</span>
      </ion-toggle>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="has-click item-icon-right" ui-sref="{{sref('preferences.advanced')}}({'walletId': walletId})">
        <span translate>More Options</span>
        <i class="icon arrow-right"></i>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
