<ion-item class="txp-item item-marker item-icon-left icon-left-lg has-click">
  <i class="icon lg-icon">
    <img class="bg" src="img/icon-proposal-pending.svg">
  </i>
  <span ng-show="!tx.merchant">
    <span ng-if="tx.message" class="ellipsis">{{tx.message}}</span>
    <span ng-if="!tx.message && addressbook[tx.toAddress]" class="ellipsis">
      {{addressbook[tx.toAddress].name || addressbook[tx.toAddress]}}
    </span>
    <span ng-if="!tx.message && !addressbook[tx.toAddress]" class="ellipsis" translate>
      Sending
    </span>
  </span>
  <span ng-show="tx.merchant">
    <span ng-show="tx.merchant.pr.ca" class="ellipsis"><i class="fi-lock"></i> {{tx.merchant.domain}}</span>
    <span ng-show="!tx.merchant.pr.ca" class="ellipsis"><i class="fi-unlock"></i> {{tx.merchant.domain}}</span>
  </span>
  <span class="item-note">
    <span ng-if="tx.action == 'sent'">
      –
    </span>
    <span ng-if="tx.action == 'invalid'" translate>
      (possible double spend)
    </span>
    <span ng-if="tx.action != 'invalid'">
      – {{tx.amountStr}}
    </span>
    <div>
      <time ng-if="tx.createdOn && createdWithinPastDay(tx.createdOn * 1000)">
        {{tx.createdOn * 1000 | amTimeAgo}}
      </time>
      <time ng-if="tx.createdOn && !createdWithinPastDay(tx.createdOn * 1000)">
        {{tx.createdOn * 1000 | date:'MMMM d, y'}}
      </time>
    </div>
  </span>
</ion-item>
