<ion-view id="ows-preferences-alternative-currency" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Alternative Currency' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-search" ng-show="allowSearch" ng-click="toggleSearch()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list class="pad">
      <ion-item class="item-input item-icon-left icon-left-input" ng-show="showSearch && allowSearch">
        <i class="icon ion-ios-search"></i>
        <input type="search" ng-init="searchedAltCurrency=''" ng-model="searchedAltCurrency" ng-change="findCurrency(searchedAltCurrency)"
          placeholder="Search your currency" class="ng-pristine ng-untouched ng-valid ng-empty">
      </ion-item>
      <div ng-if="lastUsedAltCurrencyList[0]">
        <ion-item id="entry0" class="item-divider has-label item-no-border" translate>
          Recently Used
        </ion-item>
        <ion-radio ng-repeat="lastUsedAltCurrency in lastUsedAltCurrencyList" ng-value="lastUsedAltCurrency.isoCode" ng-model="currentCurrency"
          ng-click="save(lastUsedAltCurrency)">
          {{lastUsedAltCurrency.name}}
        </ion-radio>
      </div>
      <ion-item id="{{lastUsedAltCurrencyList[0] ? 'entry1' : 'entry0'}}" class="item-divider has-label item-no-border" translate>
        All Currencies
      </ion-item>
      <ion-radio ng-repeat="altCurrency in altCurrencyList" ng-value="altCurrency.isoCode" ng-model="currentCurrency" ng-click="save(altCurrency)">
        {{altCurrency.name}}
      </ion-radio>
    </ion-list>
    <ion-infinite-scroll ng-if="!listComplete" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
