<action-sheet id="incoming-data-menu" class="ows" show="showMenu" has-tabs="hasTabs">
  <!-- URL -->
  <div ng-if="type === 'url'">
    <i class="button-close" ng-click="hide()"></i>
    <div class="header" translate>Website</div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-unlocked.svg" ng-hide="https" >
            <img src="img/icon-locked-green.svg" ng-show="https">
          </i>
          {{data}}
        </ion-item>
        <ion-item class="has-click item-icon-left item-icon-right" ng-click="goToUrl(data)">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-link-external.svg">
          </i>
          <div translate>Open website</div>
          <i class="icon arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- Address -->
  <div ng-if="type === 'cryptoAddress'">
    <i class="button-close" ng-click="hide()"></i>
    <div class="header">{{currencyLabel}} address</div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon sm-icon left-icon">
            <img ng-src="img/currency-icons/icon-{{currency}}.svg">
          </i>
          <div class="cryptoAddress ellipsis">{{data}}</div>
        </ion-item>
        <ion-item class="has-click item-icon-left item-icon-right" ng-click="addToAddressBook(networkURI, data)">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-contacts.svg">
          </i>
          <div translate>Add as a contact</div>
          <i class="icon arrow-right"></i>
        </ion-item>
        <ion-item class="has-click item-icon-left item-icon-right" ng-click="sendPaymentToAddress(networkURI, data)">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-send.svg">
          </i>
          <div translate>Send payment to this address</div>
          <i class="icon arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left" copy-to-clipboard="{{data}}">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-paperclip.svg">
          </i>
          <div translate>Copy to clipboard</div>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- Plain text -->
  <div ng-if="type === 'text'">
    <i class="button-close" ng-click="hide()"></i>
    <div class="header">Text</div>
      <ion-list>
        <ion-item>
          {{data}}
        </ion-item>
        <ion-item class="item-icon-left" copy-to-clipboard="{{data}}">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-paperclip.svg">
          </i>
          <div translate>Copy to clipboard</div>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!-- Private key (WIP) -->
  <div ng-if="type === 'privateKey'">
    <i class="button-close" ng-click="hide()"></i>
    <div class="header">Private Key</div>
      <ion-list>
        <ion-item>
          <div class="cryptoKey ellipsis">{{data}}</div>
        </ion-item>
        <ion-item class="has-click item-icon-left item-icon-right" ng-click="scanPaperWallet(data)">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-import-paper.svg">
          </i>
          <div translate>Import paper wallet</div>
          <i class="icon arrow-right"></i>
        </ion-item>
        <ion-item class="item-icon-left" copy-to-clipboard="{{data}}">
          <i class="icon sm-icon left-icon">
            <img src="img/icon-paperclip.svg">
          </i>
          <div translate>Copy to clipboard</div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</action-sheet>
