<ion-view id="ows-send" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Send' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-if="hasFunds">
      <ion-list>
        <ion-item class="item-input item-icon-left icon-left-input item-icon-right">
          <i class="icon ion-ios-search"></i>
          <input type="search" placeholder="{{'Search or recipient address' | translate}}" ng-model="formData.search"
            ng-change="findContact(formData.search)" ng-model-onblur ng-focus="searchInFocus()" ng-blur="searchBlurred()">
          <i class="icon icon-svg" on-tap="openScanner()">
            <img src="img/icon-scan.svg">
          </i>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="!(hasFunds && hasWallets)"
      ng-include="'views/send/tips/start-sending/start-sending.html'"></div>
    <div class="card" ng-if="hasContacts && hasWallets && hasFunds">
      <ion-item class="item-icon-right item-heading">
        <span translate>Contacts</span>
        <a ng-if="hasContacts" ui-sref="{{sref('send.address-book')}}">
          <i class="icon ion-ios-plus-empty list-add-button"></i>
        </a>
      </ion-item>
      <ion-list>
        <ion-item class="has-click item-icon-left icon-left-md item-icon-right" ng-repeat="item in list"
          ng-if="!item.isWallet && item.recipientType != 'wallet'" ng-click="goToAmount(item)">
          <i class="icon md-icon left-icon">
            <gravatar class="send-gravatar" width="30" name="{{item.name}}" email="{{item.email}}"></gravatar>
          </i>
          {{item.name}}
          <i class="icon arrow-right"></i>
        </ion-item>
        <div class="show-more" ng-if="contactsShowMore" ng-click="showMore()" translate>
          Show more
        </div>
      </ion-list>
    </div>
    <div class="card" ng-if="showTransferCard && hasFunds">
      <ion-item class="item-heading">
        <span translate>Transfer to Wallet</span>
      </ion-item>
      <ion-list>
        <ion-item class="has-click item-icon-left icon-left-md item-icon-right" ng-class="{'has-detail': wallet.error || wallet.needsBackup}"
          ng-repeat="wallet in list" ng-if="hasWallets && wallet.recipientType == 'wallet'" ng-click="goToAmount(wallet)">
          <i class="icon md-icon left-icon">
            <div class="bg icon-wallet" ng-class="{'wallet-background-color-default': !wallet.color}" ng-style="{'background-color': wallet.color}"></div>
          </i>
          <span class="ellipsis">
            {{wallet.name || wallet.id}}
          </span>
          <div class="item-detail">
            <span class="text-error" ng-if="wallet.error">{{wallet.error}}</span>
            <span class="text-danger" ng-show="!wallet.error && wallet.needsBackup">{{'Backup needed' | translate}}</span>
          </div>
          <i class="icon arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <contact-address-menu title="casTitle" contact="casContact" selected="casSelected" show="showContactAddressSelector"
    on-select="onContactAddressSelect" has-tabs>
  </contact-address-menu>
</ion-view>
