<ion-view id="home" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>
      <img ng-if="shouldShowLogo" class="tab-home__logo" src="img/brand/logo.svg"/>
      <span ng-if="!shouldShowLogo">{{'Dashboard' | translate}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
      <div show-if-nav-side-menu ng-include="'views/navigation/side-menu/partials/header-side-menu-button/header-side-menu-button.html'"></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-back button-clear" ng-click="toggleLayout()" ng-if="showLayoutButton">
        <img class="icon-nav" ng-src="img/icon-{{layout.next}}.svg"/>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher ng-if="isAndroid" pulling-icon="ion-ios-refresh" spinner="ios-small" on-refresh="onRefresh()">
    </ion-refresher>
    <!-- App update available -->
    <div ng-show="tipNewRelease" ng-include="'views/home/tips/new-release/new-release.html'"></div>
    <!-- App rating -->
    <div ng-show="tipRateApp" ng-include="'views/feedback/tips/rate-app/rate-app.html'"></div>
    <!-- Wallet is ready tip -->
    <div ng-show="tipWalletReady" ng-include="'views/home/tips/wallet-ready/wallet-ready.html'"></div>
    <!-- Payment proposals -->
    <div class="card" ng-hide="!txps[0]">
      <ion-item class="item-heading has-click item-icon-right" ui-sref="{{sref('proposals')}}">
        <span translate>Payment Proposals</span>
        <i class="icon arrow-right"></i>
        <span class="item-note badge badge-assertive" ng-show="txpsN > 3"> {{txpsN}}</span>
      </ion-item>
      <ion-list>
        <div ng-include="'shared/partials/txp-item/txp-item.html'" ng-repeat="tx in txps" ng-click="openTxpModal(tx)"></div>
      </ion-list>
    </div>
    <!-- Recent transactions --> 
    <div class="card" ng-if="notifications[0] && recentTransactionsEnabled">
      <ion-item class="item-heading has-click item-icon-right" ui-sref="{{sref('activity')}}">
        <span translate>Recent Transactions</span>
        <i class="icon arrow-right"></i>
        <span class="badge badge-assertive m5t m10r" ng-show="notificationsN > 3"> {{notificationsN}}</span>
      </ion-item>
      <span ng-include="'views/home/wallet-activity/partials/activity-list.html'"></span>
    </div>
    <!-- List layout -->
    <div class="card" ng-if="layout.current == 'list'">
      <ion-item class="item-heading item-icon-right">
        <span translate>Wallets</span>
        <a ui-sref="{{sref('add')}}" ng-if="wallets[0]"><i class="icon ion-ios-plus-empty list-add-button"></i></a>
      </ion-item>
      <ion-list>
        <ion-item ng-if="!wallets[0]" ui-sref="{{sref('add')}}" class="item-icon-left icon-left-lg item-icon-right has-click">
          <i class="icon lg-icon left-icon">
            <div class="bg icon-wallet icon-create-wallet"></div>
          </i>
          <span translate>Add wallet</span>
          <i class="icon arrow-right"></i>
        </ion-item>
        <ion-item class="has-detail item-h-md item-icon-left icon-left-lg item-icon-right" ng-click="openWallet(wallet)"
          ng-repeat="wallet in wallets | filter:{layout: {group: {id:'favorite'}}}:strict | orderBy:'layout.group.ordinal' track by $index">
          <i class="icon lg-icon left-icon shadow">
            <div class="bg icon-wallet" ng-style="{'background-color': wallet.color}"></div>
          </i>
          <span class="ellipsis">
            {{wallet.name || wallet.id}}
          </span>
          <div class="item-detail">
            <span class="text-error" ng-if="wallet.error">{{wallet.error}}</span>
            <span ng-show="!wallet.error">
              <span class="text-danger" ng-show="!wallet.isComplete()">{{'Incomplete' | translate}}</span>
              <span class="text-danger" ng-show="wallet.isComplete() && wallet.needsBackup">{{'Backup needed' | translate}}</span>
              <span ng-if="wallet.isComplete() && !wallet.needsBackup">
                <span ng-if="!wallet.balanceHidden">{{wallet.status.totalBalanceStr ? wallet.status.totalBalanceStr : ( wallet.cachedBalance ? wallet.cachedBalance   + (wallet.cachedBalanceUpdatedOn ? ' &middot; ' + ( wallet.cachedBalanceUpdatedOn  * 1000 | amTimeAgo) : '') : ''  ) }} </span>
                <span ng-if="wallet.balanceHidden" translate>Balance Hidden</span>
                <span class="tab-home__wallet__multisig-number" ng-if="wallet.n > 1">
                  {{wallet.m}}-of-{{wallet.n}}
                </span>
                <i ng-if="!wallet.balanceHidden && (wallet.status.totalBalanceAtomic != wallet.status.spendableAmount)"
                  class="tab-home__wallet__status-icon ion-ios-timer-outline"></i>
              </span>
            </span>
          </div>
          <i class="icon arrow-right"></i>
        </ion-item>
      </ion-list>
    </div>
    &nbsp; <!-- allow bottom margin to take up space -->
    <!-- Grid layout -->
    <div ng-if="layout.current == 'grid'">
      <div ng-repeat="walletGroup in walletGroups">
        <div class="home-section" translate>
          <span class="left" translate>{{walletGroup.label}}</span>
          <span class="right pointer" ng-click="goToAllWallets()" translate>All &gt;</span>
        </div>
        <ion-slides class="home-slides" options="walletSlides.options" slider="walletSlides.slider" show-pager="false">
          <ion-slide-page class="home-slide-page"
            ng-repeat="wallet in wallets | filter:{layout: {group: {id: walletGroup.id}}}:strict | orderBy:'layout.group.ordinal' track by $index">
            <div class="slide-container">
              <span ng-include="'views/home/layout/wallet-card/wallet-card.html'"></span>
            </div>
          </ion-slide-page>
          <ion-slide-page class="home-slide-page">
            <div class="slide-container">
              <div class="nav-grid-card" ng-click="goToAddWallet()">
                <i class="icon ion-ios-plus-empty"></i>
              </div>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>
    </div>
    <div class="ng-hide card applets" ng-show="applets.length>0" ng-include="'views/home/applets/applets.html'" ng-controller="AppletsCtrl"></div>
  </ion-content>
</ion-view>
