#wallet-balance {
  color: $v-wallet-color;

  .balance-total {
    color: $v-wallet-color;
  }

  .balance-available {
    color: $v-success-color;
  }

  .balance-confirming {
    color: $v-warning-color;
  }

  .balance-locked {
    color: $v-warning-color;
  }
}
