<ion-modal-view id="wallet-balance" class="ows" ng-style="{'background': wallet.background}">
  <ion-header-bar align-title="center">
    <div class="title">{{wallet.name}}</div>
    <button class="button button-nav-bar" ng-click="close()">
      {{'Close' | translate}}
    </button>
    <button class="button button-nav-bar button-refresh button-right" ng-click="updateAll(true)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <ion-list>
        <ion-item class="item-icon-left icon-left-md">
          <i class="icon md-icon">
            <img class="bg" src="img/icon-sigma.svg">
          </i>
          <span translate>Total</span>
          <span class="item-note">
            <span class="balance-total">{{status.totalBalanceStr}}</span>
            <div>{{status.totalBalanceAlternative}} {{status.alternativeIsoCode}}</div>
          </span>
        </ion-item>
        <ion-item class="item-icon-left icon-left-md">
          <i class="icon md-icon ion-ios-checkmark-outline">
          </i>
          <span translate>Available</span>
          <span class="item-note">
            <span class="balance-available">{{status.spendableBalanceStr}}</span>
            <div>{{status.spendableBalanceAlternative}} {{status.alternativeIsoCode}}</div>
          </span>
        </ion-item>
        <ion-item class="item-icon-left icon-left-md">
          <i class="icon md-icon">
            <img class="bg" src="img/icon-confirming.svg">
          </i>
          <span translate>Confirming</span>
          <span class="item-note">
            <span ng-class="{'balance-confirming': status.pendingAmount > 0}">{{status.pendingBalanceStr}}</span>
            <div>{{status.pendingBalanceAlternative}} {{status.alternativeIsoCode}}</div>
          </span>
        </ion-item>
        <ion-item class="item-icon-left icon-left-md">
          <i class="icon md-icon">
            <img class="bg" src="img/icon-locked.svg">
          </i>
          <span translate>Locked</span>
          <span class="item-note">
            <span ng-class="{'balance-locked': status.lockedBalanceAtomic > 0}">{{status.lockedBalanceStr}}</span>
            <div>{{status.lockedBalanceAlternative}} {{status.alternativeIsoCode}}</div>
          </span>
        </ion-item>
      </ion-list>
    </div>
    <div class="box-notification info clear">
      <p class="notice" translate>Your total wallet balance may not be available for immediate spending.</p>
      <a ng-click="learnMore()" translate>Learn more</a>
    </div>
  </ion-content>
</ion-modal-view>
