#preferences-color {
  background: $v-settings-bg;
  color: $v-settings-color;

  .list .item .item-content {
  	white-space: nowrap;
  }

	.color-block {
	  display: inline-block;
	  width: 24px;
	  height: 24px;
	  float: left;
	  border-radius: 50%;
	}
}
