#onboard-create-first-wallet {
  
  // Hijack the left button area of the header to fill the width for our button-bar.
  .buttons.buttons-left {
    width: 100%;

    > .left-buttons {
      width: 100%;
    }
  }

  .button-bar {
    margin: auto;
    padding-top: 5px;
    width: $v-button-width;
    max-width: $v-button-max-width;

    > .button {
      font-size: 12px;
      line-height: 32px;
      border: 1px solid;
      background: $v-button-primary-bg;
      border-color: $v-button-primary-bg;
      color: $v-button-primary-color;

      &.button-positive {
        background: transparent;
        border-color: $v-button-primary-bg;
        color: $v-button-primary-color;
      }
    }

    > .button:first-child {
      border-radius: 3px 0px 0px 3px !important;
    }

    > .button:last-child {
      border-radius: 0px 3px 3px 0px !important;
    }
  }
}
