<ion-view id="ows-onboard-create-first-wallet" class="ows ows-onboarding">
  <ion-nav-bar class="bar">
    <ion-nav-buttons>
      <div class="button-bar">
        <a grouped-radio="n.name" ng-model="data.networkName" ng-repeat="n in availableNetworks">
          {{n.currency}}
        </a>
      </div>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <img class="onboard-image" ng-src="img/onboarding/create-{{network.name}}.svg"/>
    <div class="onboard-text">
      <div class="onboard-topic" translate>
        Create your initial wallet
      </div>
      <div class="onboard-description" translate>
        Choose which kind of wallet to create now. You can always create more wallets later. If you have a backup of an existing wallet you can choose to restore your backup instead.
      </div>
    </div>
    <div class="cta-buttons">
      <button class="button button-standard button-primary" id="get-started" ng-click="createFirstWallet()" translate-context="button"
        translate>
        Create {{network.longLabel}} wallet
      </button>
      <button class="button button-standard button-secondary button-clear" id="restore" href
        ui-sref="{{sref('onboarding.import')}}({'fromOnboarding':true})" translate>
        Restore from backup
      </button>
    </div>
  </ion-content>
</ion-view>
