<ion-view id="backup-warning" class="ows backup" hide-tabs>
  <ion-nav-bar>
    <ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="primary">
      <button class="button button-nav-bar button-back" ng-click="goBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <img class="backup-image" src="img/backup/backup-warning.svg" />
    <div class="backup-text">
      <div class="backup-topic" translate>
        Are you being watched?
      </div>
      <div class="backup-description" translate>
        Now is a perfect time to assess your surroundings. Nearby windows? Hidden cameras? Shoulder spies? <b>Anyone with your backup phrase can access or spend your digital currency.</b>
      </div>
    </div>
    <div class="cta-buttons">
      <button class="button button-standard button-primary" ng-click="openPopup()" translate>
        I have privacy
      </button>
    </div>
  </ion-content>
</ion-view>
