$v-applet-transition: 0.3s;

/**
 * App main view
 */

// Background needs to be black as backdrop to the zoom effect.
body {
  background: $v-black-color;

  > .view-container {
    transition: $v-applet-transition;

    &.zoom {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
}

/**
 * Applet frame and view
 */

.applet-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - #{$v-applet-bar-height});
  height: calc(100% - #{$v-applet-bar-height} - constant(safe-area-inset-bottom));
  height: calc(100% - #{$v-applet-bar-height} - env(safe-area-inset-bottom));
}

.applet-view { 
  background-color: transparent;
  width: 100%;
  min-height: 0 !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(constant(safe-area-inset-bottom));
  bottom: calc(env(safe-area-inset-bottom));

  &.ng-enter {
   -webkit-animation: zoomIn $v-applet-transition !important;
   animation: zoomIn $v-applet-transition !important;
  }

  &.ng-leave {
   -webkit-animation: zoomOut $v-applet-transition !important;
   animation: zoomOut $v-applet-transition !important;
  }
}

/**
 * Applet splash
 */

.applet-splash {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000000 !important;
}

.fade-splash {
  transition: 0.2s linear all;
  -webkit-transition: 0.2s linear all;
  opacity: 1;

  &.ng-hide {
    opacity: 0;
  }
}


/**
 * Applet footer
 */

.applet-footer-bar {
  background: $v-applet-bar-bg;
  border-top: $v-applet-bar-border;
  height: $v-applet-bar-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 5;

  .footer-bar-item {
    color: $v-applet-bar-color;
    background: rgba(0, 0, 0, 0) !important;

    &.item-center {
      top: 7px;
      left: 50%;
      background: $v-applet-bar-color !important;
      width: 50%;
      height: 15px;
      min-height: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    &.item-right {
      top: 3px !important;
      right: 10px !important;
    }
  }
}

.button-applet-close:before {
  font-size: 34px !important;
  line-height: 40px !important;
}


/* these are view specific styles to move to app component scss */

/*
 * Used in preferences for listing applets.
 */

.applet-list-item .item {
  font-size: 14px;
  border-top: none;
  margin-bottom: 0;
}

.button-applet-header {
  font-size: 14px !important;
  font-weight: normal !important;
  text-transform: none !important;
  background-color: transparent !important;
}

.button-applet-header .icon:before,
.button-applet-header.icon:before {
  font-size: 20px !important;
}


/* Start of Ionic modifications */

/*
 * Allow the applet-content div to fill the modal space.
 * See https://forum.ionicframework.com/t/fill-content-container/605/11
 */
.scroll-content > .scroll {
  height: 100%;
}

/*
 * Fix modal backdrop for smaller devices
 * See http://loring-dodge.azurewebsites.net/ionic-nifty-modal/
 */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}


/*
 * Redefine needed icon-* to defeat app definition which overrides Ionic.
 */

.button.applet-icon-left:before {
  float: left;
  padding-right: .2em !important;
  padding-left: 0 !important;
}

.button.applet-icon-right:before {
  float: right;
  padding-left: .2em !important;
  padding-right: 0 !important;
}

.button.applet-icon-left:before, .button.applet-icon-right:before {
  display: inline-block;
  padding: 0 0 1px 0;
  vertical-align: inherit;
  font-size: 24px;
  line-height: 33px;
  pointer-events: none;
}

/*
 * Don't dim when the button is clicked.
 */
.button-clear.activated,
.button-clear.active {
  opacity: 1.0 !important;
}

/* End of Ionic modifications */
