/**
 * Applet support
 */

body {
	// Background needs to be black as backdrop to the applet open zoom-out effect.
	background: $v-black-color;

  // The main app view container animations as an applet launches.
  > .view-container {
    transition: $v-applet-transition;

    &.zoom-out {
      transform: scale(0.9);
      opacity: 0.5;
      -webkit-animation-duration: 300ms;
      animation-duration: 300ms;
    }

    &.slide-left {
      transform: translateX(-33%);
      opacity: 0.5;
      -webkit-animation-duration: 200ms;
      animation-duration: 200ms;
    }

    &.slide-right {
      transform: translateX(33%);
      opacity: 0.5;
      -webkit-animation-duration: 200ms;
      animation-duration: 200ms;
    }
  }
}
