/**
 * Applet support
 */

body {
	// Background needs to be black as backdrop to the applet open (zoom) effect.
	background: $v-black-color;

  // The main app view container will animate backward slightly as the applet launches.
  > .view-container {
    transition: $v-applet-transition;

    &.zoom {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
}
