/*
 * Plugin subsystem variables
 */

/* Applet launch transition */

$v-applet-transition:                    300ms !default;

/* Applet menu (material floating button) */

$v-mfb-main-color:                       $v-black-transparent-dark;
$v-mfb-button-text-color:                $v-white-color;

$v-mfb-main-color-closed:                $v-black-transparent-subtle;
$v-mfb-button-text-color-closed:         $v-black-transparent-dark;

$v-mfb-button-box-shadow-closed:         none;
$v-mfb-icons-font-size:                  18px;
$v-mfb-size:                             56px;

/* Applet settings popup */

$v-applet-settings-button-color:         $v-white-color;
$v-applet-settings-button-bg-color:      $v-accent-2-color;
$v-applet-settings-toggle-bg-color:      $v-accent-2-color;
$v-applet-settings-toggle-border-color:  $v-accent-2-color;
