<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{externalSource.longName}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-include="'views/wallet-settings/partials/wallet-item/wallet-item.html'"></div>
    <div ng-if="!externalSource.isEmbeddedHardware">
      <div class="box-notification info clear">
        <span class="notice" translate>No hardware information available.</span>
      </div>
    </div>
    <div ng-if="externalSource.isEmbeddedHardware">
      <div class="box-notification warning" ng-if="!hardwareConnected">
        <h2 translate>Hardware Not Connected</h2>
        <p translate>Check installation and try again.</p>
      </div>
      <div ng-if="hardwareConnected">
        <ion-list>
          <ion-item>
            <span translate>Version</span>
            <span class="item-note">
              {{externalSource.version || 'hardware disconnected'}}
            </span>
          </ion-item>
        </ion-list>
        <button class="button button-standard button-assertive m20t" ng-click="showMneumonicFromHardwarePopup()">
          {{'Show Recovery Phrase'|translate}}
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
