<ion-view id="tx-details" class="ows" hide-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list ng-if="btx">
      <!-- Header -->
      <ion-item class="tx-header">
        <div class="tx-label" ng-if="btx.confirmations > 0">
          <img src="img/icon-tx-sent-outline.svg" ng-if="btx.action === 'sent'">
          <img src="img/icon-tx-received-outline.svg" ng-if="btx.action === 'received'">
          <img src="img/icon-tx-moved-outline.svg" ng-if="btx.action === 'moved'">
          <span ng-if="btx.action === 'sent'">{{'Sent' | translate}}</span>
          <span ng-if="btx.action === 'received'">{{'Received' | translate}}</span>
          <span ng-if="btx.action === 'moved'">{{'Moved' | translate}}</span>
        </div>
        <div class="tx-label" ng-if="btx.confirmations === 0">
          <img src="img/icon-confirming.svg">
          <span ng-if="btx.action == 'sent' || btx.action == 'moved'" translate>Sending</span>
          <span ng-if="btx.action == 'received'" translate>Receiving</span>
        </div>
        <div class="tx-amount-wrapper">
          <div class="tx-amount">{{btx.amountValueStr}} <span class="tx-unit">{{btx.amountAtomicStr}}</span></div>
          <div class="tx-alternative" ng-show="isLivenet(wallet.networkURI)" ng-click="showRate = !showRate">
            <span ng-if="!showRate">{{btx.alternativeAmountStr}}</span>
            <span ng-if="showRate">
              <span ng-if="!rate">...</span>
              <span ng-if="rate">
                {{rate| currency:'':2}} {{alternativeIsoCode}} ({{rateDate | amDateFormat:'MM/DD/YYYY HH:mm a'}})
              </span>
            </span>
          </div>
        </div>
      </ion-item>
      <!-- To -->
      <ion-item class="has-label item-fh" ng-if="btx.action === 'sent'" copy-to-clipboard="{{btx.addressTo}}">
        <span class="input-label" translate>To</span>
        <ion-item class="item-sub item-fh item-icon-left icon-left-md">
          <i class="icon md-icon left-icon">
            <img ng-src="img/currency-icons/icon-{{wallet.currency}}.svg">
          </i>
          <span ng-if="toName" class="ellipsis">{{toName}}</span>
          <span ng-if="!toName" class="ellipsis">{{btx.addressTo}}</span>
        </ion-item>
      </ion-item>
      <!-- From -->
      <ion-item class="has-label">
        <span ng-if="btx.action === 'sent'" class="input-label" translate>From</span>
        <span ng-if="btx.action !== 'sent'" class="input-label" translate>Received In</span>
        <ion-item class="item-sub item-fh item-icon-left icon-left-md">
          <i class="icon md-icon left-icon">
            <div class="bg icon-wallet" ng-style="{'background-color': wallet.color}"></div>
          </i>
          <div>{{wallet.name}}</div>
        </ion-item>
      </ion-item>
      <!-- Created by -->
      <ion-item ng-if="btx.action != 'received' && isShared">
        <span translate>Created by</span>
        <span class="item-note">
          {{btx.creatorName}}
        </span>
      </ion-item>
      <!-- Date -->
      <ion-item ng-if="btx.ts || btx.createdOn || btx.time">
        <span translate>Date</span>
        <span class="item-note">
          <time>{{ (btx.ts || btx.createdOn || btx.time) * 1000 | amDateFormat:'MM/DD/YYYY hh:mm a'}}</time>
        </span>
      </ion-item>
      <!-- Memo -->
      <ion-item class="item-icon-right has-detail has-click" ng-click="showMemoPopup()">
        <span translate>Memo</span>
        <div class="item-detail">
          {{btx.note.body || btx.message}}
          <span ng-show="!(btx.note.body || btx.message)" translate>Add a transaction memo</span>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <!-- Fee -->
      <ion-item class="has-detail" ng-if="btx.action != 'received'">
        <span translate>Fee</span>
        <span class="item-note">{{btx.feeStr || '&middot;&middot;&middot;'}}</span>
        <div class="item-detail">
          {{btx.feeFiatStr || '&middot;&middot;&middot;'}}&nbsp;
            <span class="fee-rate" ng-if="btx.feeRateStr" translate>- {{btx.feeRateStr}} of the transaction</span>
        </div>
      </ion-item>
      <div class="box-notification warning" ng-if="btx.action == 'received' && btx.lowFees">
        <h2 translate>Low Fee Transation</h2>
        <p translate>
          This transaction could take a long time to confirm or may never confirm due to the low fees set by the sender.
        </p>
      </div>
      <div class="box-notification warning" ng-if="btx.lowAmount">
        <h2 translate="">Transaction Amount Too Small</h2>
        <p translate>
          This transaction amount is too small when compared with current network fees. Spending these funds will require a network fee cost comparable to the amount itself.
        </p>
      </div>
      <!-- Confirmations -->
      <ion-item>
        <span translate>Confirmations</span>
        <span class="item-note">
          <span ng-if="!btx.confirmations || btx.confirmations == 0" translate>
            Unconfirmed
          </span>
          <span ng-if="btx.confirmations>0 && !btx.safeConfirmed">
            {{btx.confirmations}}
          </span>
          <span ng-if="btx.safeConfirmed">
            {{btx.safeConfirmed}}
          </span>
        </span>
      </ion-item>
      <ion-toggle ng-show="!btx.confirmations || btx.confirmations == 0" ng-model="txNotification.value" toggle-class="toggle-positive"
        ng-change="txConfirmNotificationChange()" ng-if="txsUnsubscribedForNotifications">
        <span class="toggle-label" translate>Notify me if confirmed</span>
      </ion-toggle>
      <!-- Timeline -->
      <div ng-if="actionList[0]">
        <ion-item class="item-divider has-label" translate>Timeline</ion-item>
        <ion-item class="item-icon-left icon-left-md" ng-repeat="a in actionList track by $index" ng-class="{'has-detail': a.by}">
          <i class="icon md-icon left-icon event-icon timeline" ng-if="a.type === 'broadcasted'">
            <img src="img/icon-broadcasted.svg">
          </i>
          <i class="icon md-icon left-icon" ng-if="a.type !== 'broadcasted'">
            <div class="event-icon draw timeline action-created" ng-if="a.type !== 'reject'">
              {{actionList.length - $index}}
            </div>
            <div class="event-icon draw timeline action-rejected" ng-if="a.type === 'reject'">
              !
            </div>
          </i>
          <div>{{a.description}}</div>
          <span class="item-note">
            <time>{{ a.time * 1000 | amTimeAgo}}</time>
          </span>
          <div class="item-detail">
            {{a.by}}
          </div>
        </ion-item>
      </div>
      <ion-item class="item-divider"></ion-item>
    </ion-list>
    <button ng-if="btx" class="button button-standard button-primary m20b" ng-click="viewOnBlockchain()" translate>
      View on blockchain
    </button>&nbsp; <!-- allow button bottom margin to take up space -->
  </ion-content>
</ion-view>
