<ion-view id="preferences-notifications" class="ows" show-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Notifications' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <div class="box-notification warning" ng-if="!PNEnabledByUser && isIOSApp">
        <h2 translate>
          Push Notification Disabled
        </h2>
        <p translate>
          Push notifications for {{appName}} are currently disabled. Enable them in the device Settings app.
        </p>
      </div>
      <ion-item class="item-divider"></ion-item>
      <ion-toggle ng-model="pushNotifications.value" toggle-class="toggle-positive" ng-change="pushNotificationsChange()"
        ng-if="usePushNotifications && PNEnabledByUser">
        <span class="toggle-label" translate>Enable push notifications</span>
      </ion-toggle>
      <ion-toggle ng-model="confirmedTxsNotifications.value" toggle-class="toggle-positive" ng-change="confirmedTxsNotificationsChange()"
        ng-if="usePushNotifications && pushNotifications.value">
        <span class="toggle-label" translate>Notify me when transactions are confirmed</span>
      </ion-toggle>
      <ion-toggle ng-model="emailNotifications.value" toggle-class="toggle-positive" ng-change="emailNotificationsChange()">
        <span class="toggle-label" translate>Enable email notifications</span>
      </ion-toggle>
      <ion-item class="item-comment append">
        
      <div class="box-notification info clear" ng-if="emailNotifications.value">
        <p class="notice" translate>
          You'll receive email notifications about payments sent and received from your wallets.
        </p>
      </div>
      </ion-item>

<!--
      <ion-item class="item-comment append" ng-if="emailNotifications.value" translate>
        You'll receive email notifications about payments sent and received from your wallets.
      </ion-item>
-->
      <div ng-if="emailNotifications.value">
        <form name="emailForm" ng-submit="save()" novalidate>
          <ion-item class="item-input item-stacked-label">
            <span class="input-label" translate>Email Address</span>
            <input type="email" id="email" name="email" placeholder="{{'Email'|translate}}" ng-model="newEmail.value" required>
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <button type="submit" class="button button-standard button-primary"
            ng-disabled="emailForm.$invalid || (newEmail.value == latestEmail.value)" translate>Save
          </button>
        </form>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
