<ion-view id="ows-amount" class="ows" hide-tabs>
  <ion-nav-bar class="bar">
    <ion-nav-title>{{'Enter Amount' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button button-nav-bar button-menu" ng-click="openOptionsMenu()" ng-if="allowOptionsMenu"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <ion-list ng-if="!nextStep">
      <ion-item class="item-divider has-label" translate>
        Recipient
      </ion-item>
      <ion-item class="has-detail item-icon-left icon-left-md">
        <i class="icon md-icon left-icon" ng-if="recipientType == 'wallet'">
          <div class="bg icon-wallet" ng-class="{'wallet-background-color-default': !toColor}" ng-style="{'background-color': toColor}"></div>
        </i>
        <span ng-if="recipientType == 'contact'">
          <i class="icon md-icon left-icon">
            <gravatar class="send-gravatar" name="{{toName}}" height="30" width="30" email="{{toEmail}}"></gravatar>
          </i>
        </span>
        <span ng-if="!recipientType">
          <i class="icon md-icon left-icon">
            <div class="bg icon-user"></div>
          </i>
        </span>
        <span ng-if="toName">
          {{toName}}
        </span>
        <div ng-if="toAddress" class="item-detail ellipsis">
          {{toAddress}}
        </div>
      </ion-item>
    </ion-list>
    <div ng-class="{'amount-pane-recipient': !nextStep, 'amount-pane-no-recipient': nextStep}">
      <div class="amount-bar oh">
        <div class="title">
          {{nextStepTitle || 'Amount' | translate}}
        </div>
      </div>
      <div class="amount">
        <div ng-class="{'amount__editable--minimize': smallFont, 'amount__editable--standard': !smallFont, 'amount__editable--placeholder': !amount}">
          {{amount || "0.00" }}
          <a class="amount__currency-toggle" ng-click="toggleAlternative()">
            <span>{{enteringAlternativeAmount ? alternativeIsoCode : unitName}}</span>
          </a>
        </div>
        <div ng-class="{'amount__results--minimize': smallFont, 'amount__results--standard': !smallFont, 'amount__results--placeholder': !amountResult}">
          <div class="amount__result" ng-show="globalResult">
            {{globalResult}}
            <span>{{enteringAlternativeAmount ? alternativeIsoCode : unitName}}</span>
          </div>
          <div class="amount__result-equiv">
            <span ng-if="!enterAlternativeAmount">&asymp; {{amountResult || '0.00'}} {{alternativeIsoCode}}</span>
            <span ng-if="enterAlternativeAmount">&asymp; {{alternativeResult || '0.00'}} {{unitName}}</span>
          </div>
        </div>
      </div>      
    </div>
    <div class="keypad">
      <div class="row">
        <div ng-class="{'col-25 col-offset-75': useAdvancedKeypad, 'col-33 col-offset-66': !useAdvancedKeypad}"
          class="col operation-send" ng-show="allowSend" ng-click="finish()">
          <i class="icon ion-ios-arrow-thin-right"></i>
        </div>
      </div>
      <div class="row">
        <div class="col digit" ng-click="pushDigit('7')">7</div>
        <div class="col digit" ng-click="pushDigit('8')">8</div>
        <div class="col digit" ng-click="pushDigit('9')">9</div>
        <div class="col operation" ng-click="pushOperation('/')" ng-if="useAdvancedKeypad">&divide;</div>
      </div>
      <div class="row">
        <div class="col digit" ng-click="pushDigit('4')">4</div>
        <div class="col digit" ng-click="pushDigit('5')">5</div>
        <div class="col digit" ng-click="pushDigit('6')">6</div>
        <div class="col operation" ng-click="pushOperation('x')" ng-if="useAdvancedKeypad">&times;</div>
      </div>
      <div class="row">
        <div class="col digit" ng-click="pushDigit('1')">1</div>
        <div class="col digit" ng-click="pushDigit('2')">2</div>
        <div class="col digit" ng-click="pushDigit('3')">3</div>
        <div class="col operation" ng-click="pushOperation('+')" ng-if="useAdvancedKeypad">&plus;</div>
      </div>
      <div class="row">
        <div class="col digit" ng-click="pushDigit('.')">.</div>
        <div class="col digit" ng-click="pushDigit('0')">0</div>
        <div class="col digit icon ion-backspace-outline" ng-click="removeDigit()"></div>
        <div class="col operation" ng-click="pushOperation('-')" ng-if="useAdvancedKeypad">&minus;</div>
      </div>
    </div>
  </ion-content>
  <send-options-menu show="showOptionsMenu" on-select-send-max="sendMax"></send-options-menu>
</ion-view>
