#ows-amount {
  background: $v-send-bg;
  color: $v-send-color;

  .bg.icon-user {
    background-color: $v-icon-color;
  }

  .amount-pane-recipient {
    position: absolute;
    top: 95px;
    bottom: 0;
    width: 100%;
    padding: 0 16px;

    .amount-bar {
      padding: 24px 0;
      font-size: 18px;

      @media(max-height: 480px) {
        padding: 0px;
      }
  
      @media(max-width: 320px) {
        padding: 0px;
      }

      .title {
        float: left;
        padding-top: 20px;
        font-weight: bold;

        @media(max-height: 480px) {
          padding: 0px;
        }
      }

      @media(max-height: 480px) {
        padding-top: 3px;
      }
    }
  
    .amount {
      margin-top: 30px;

      .light {
        color: $v-send-secondary-color;
      }
    }
  }

  .amount-pane-no-recipient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0 16px;

    .amount-bar {
      padding: 24px 0;
      font-size: 18px;

      .title {
        padding-top: 10px;
        font-weight: bold;

        .limits {
          margin-top: 10px;
          color: $v-send-secondary-color;
          font-size: 12px;
        }

        .select {
          margin: 10px 1px;
        }
      }
    }

    .amount {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      position: absolute;
      bottom: 254px;
      top: 66px;
      width: 100%;

      .light {
        color: $v-send-secondary-color;
      }
    }
  }

  .amount {
    &__editable {
      &--minimize {
        font-size: 22px;
      }

      &--standard {
        font-size: 42px;

        @media(max-height: 480px) {
          font-size: 26px;
          padding-top: 10px;
        }
      }

      &--placeholder {
        color: $v-send-secondary-color;
      }
    }

    &__currency-toggle {
      border: 1px solid $v-send-secondary-color;
      color: $v-send-color;
      border-radius: 3px;
      padding: 0 10px;
      cursor: pointer;
      font-size: .6em;
      position: relative;
      top: -3px;
      line-height: 1;

      @media(max-width: 320px) {
        line-height: 30px;
        height: 30px;
      }
    }

    &__results {
      &--minimize {
        font-size: 12px;
      }

      &--standard {
        font-size: 18px;
        padding: 10px 0;
      }

      &--placeholder {
        color: $v-send-secondary-color;
      }
    }

    &__result {
      color: $v-send-secondary-color;
      font-size: .9em;
      margin-bottom: -.9em;
      line-height: 1;

      @media(max-height: 480px) {
        margin-bottom: 0;
      }
    }

    &__result-equiv {
      color: $v-send-secondary-color;
      font-size: 1.2em;
      margin-top: 2rem;

      @media(max-height: 480px) {
        margin-top: 0;
        font-size: 16px;
      }
    }
  }

  .keypad {
    background: $v-keypad-bg;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    width: 100%;
    bottom: 0;
    bottom: calc(constant(safe-area-inset-bottom));
    bottom: calc(env(safe-area-inset-bottom));

    .row {
      padding: 0 !important;
      margin: 0 !important;
    }

    .col {
      line-height: 45px;
    }

    .operation {
      background: $v-keypad-operation-bg;
      font-weight: normal;
      cursor: pointer;

      &:active {
        background: $v-keypad-operation-active-bg;
      }
    }

    .operation-send {
      font-weight: bolder;
      background: $v-keypad-send-operation-bg;
      font-size: 36px;
      cursor: pointer;

      &:active {
        background: $v-keypad-send-operation-active-bg;
      }
    }

    .digit {
      cursor: pointer;
      background: $v-keypad-digit-bg;
      border-top: 1px solid $v-keypad-border-color;
      border-left: 1px solid $v-keypad-border-color;

      &:active {
        background: $v-keypad-digit-active-bg;
      }
    }

    @media(max-height: 480px) {
      font-size: 12px;
    }
  }
}
