<ion-view id="address-book-entry" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>{{addressbookEntry.name}}</ion-nav-title>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="gravatar-content">
      <gravatar name="{{addressbookEntry.name}}" width="80" email="{{addressbookEntry.email}}"></gravatar>
    </div>
    <div class="list">
      <div class="item item-text-wrap">
        <span class="input-label" translate>Name</span>
        <span>{{addressbookEntry.name}}</span>
      </div>
      <div class="item item-text-wrap" ng-show="addressbookEntry.email">
        <span class="input-label" translate>Email</span>
        <span>{{addressbookEntry.email}}</span>
      </div>
      <div class="item has-label">
        <span class="input-label" translate>Address</span>
        <div class="item item-sub">
          <div class="item-icon-left">
            <i class="icon lg-icon">
              <div class="bg btc-icon" ng-class="currencyFor(addressbookEntry.networkURI) + '-icon'"></div>
            </i>
            <div class="ellipsis">{{addressbookEntry.address}}</div>
            <div class="item-detail">
              <span>{{addressbookEntry.networkLabel}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-divider"></div>
      <div class="item item-icon-right has-click" ng-click="sendTo()">
        <span translate>Send Money</span>
        <i class="icon arrow-right"></i>
      </div>
      <div class="item item-divider"></div>
      <div class="item has-click text-center" ng-click="remove(addressbookEntry.address)">
        <span class="assertive" translate>Remove</span>
      </div>
    </div> 
  </ion-content>
</ion-view>
