<ion-view id="address-book-add" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Add Contact' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button back-button" ng-click="goHome()" ng-if="fromSendTab">
        {{'Cancel' | translate}}
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <form name="addressbookForm" no-validate>
      <div class="list add-address-input-group">
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Name</span>
          <input type="text" id="name" placeholder="{{'Name' | translate}}" name="name" ng-model="addressbookEntry.name" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Email</span>
          <input type="text" id="email" placeholder="{{'Email' | translate}}" name="email" ng-model="addressbookEntry.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Address</span>
          <input type="text" id="address" placeholder="{{'Digital currency address' | translate}}" name="address"
            ng-model="addressbookEntry.address" valid-address required>
          <div class="input-notification" ng-class="addressbookForm.address.$invalid ? 'error' : 'success'"
            ng-show="!addressbookForm.address.$invalid || (addressbookForm.address.$invalid && addressbookEntry.address)"></div>
          <div class="item-icon-right">
            <qr-scanner class="size-24" on-scan="onQrCodeScannedAddressBook(data, addressbookForm)"></qr-scanner>
          </div>
        </label>
        <label class="item item-input item-select">
          <div class="input-label" translate>Network</div>
          <select class="m10t" ng-model="addressbookEntry.network"
            ng-options="network as network.getFriendlyNetLabel() for network in availableNetworks" required>
            <option value="">Choose network</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-standard button-primary" ng-click="add(addressbookEntry)"
          ng-disabled="!addressbookForm.$valid" translate>
          Save
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
