<ion-view id="addresses" hide-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'All Addresses' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <div ng-if="loading" class="updating">
        <ion-spinner icon="ios"></ion-spinner>
        <span translate>
          Loading addresses...
        </span>
      </div>
      <div ng-show="isCordova && allAddresses[0]">
        <ion-item class="view-all" ng-click="sendByEmail()">
          <span translate>
            Send addresses by email
          </span>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
      </div>
      <ion-item ng-repeat="a in allAddresses track by $index" copy-to-clipboard="{{a.address}}">
        <span>
          {{a.address}}
        </span>
        <div ng-if="!a.balanceStr">
          {{a.path}} {{a.createdOn * 1000 | amDateFormat:'MMMM Do YYYY, hh:mm a'}}
        </div>
        <div class="balance" ng-if="a.balanceStr">
          {{a.balanceStr}}
        </div>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
