<ion-view id="all-wallets" hide-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'All Wallets' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button class="button back-button" ng-click="openOptionsMenu()" ng-if="!editMode">
        <i class="icon ion-ios-more"></i>
      </button>
      <button class="button button-back button-clear" ng-click="stopEdit()" ng-if="editMode" translate>
        Done
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div ng-if="editMode">
      <div class="group-area"></div>
      <div class="group-overlay">
        <span class="group-label" translate>Drag favorite wallets into this area</span>
      </div>
    </div>
    <div gridster="gridsterOpts" class="wallet-grid">
      <div ng-repeat="wallet in wallets track by $index" gridster-item="walletLayoutMap">
        <div class="wallet-grid-item" ng-include="'views/includes/walletCard.html'"></div>
      </div>
    </div>
  </ion-content> 
  <item-selector-all-wallets
    show="showOptionsMenu"
    on-select-choose-favorites="startEditFavorites">
  </item-selector-all-wallets>
</ion-view>