<ion-view id="confirm" hide-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Confirm' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="add-bottom-for-cta">
    <ion-list>
      <ion-item class="tx-header">
        <div class="tx-label">
          <img src="img/icon-tx-sent-outline.svg">
          <span translate ng-if="!tx.sendMax">Sending</span>
          <span translate ng-if="tx.sendMax">Sending maximum amount</span>
        </div>
        <div class="tx-amount-wrapper">
          <div class="tx-amount">{{tx.amountValueStr || '...'}} <span class="tx-unit">{{tx.amountAtomicStr}}</span></div>
          <div class="tx-alternative" ng-show="isLivenet(wallet.networkURI)">{{tx.alternativeAmountStr || '...'}}</div>
        </div>
      </ion-item>
      <!-- Paypro time -->
      <ion-item ng-if="tx.paypro">
        <div ng-if="!paymentExpired">
          <span translate>This payment expires in</span>
          <span class="text-warning" ng-if="!paymentExpired">{{remainingTimeStr}}</span>
        </div>
        <div ng-if="!paymentExpired">
          <span class="text-warning" translate>This payment has expired.</span>
        </div>
      </ion-item>
      <!-- To -->
      <ion-item class="has-label" ng-class="{'item-icon-right': tx.paypro}">
        <span class="input-label" translate>To</span>
        <!-- Wallet -->
        <div class="item item-sub has-detail item-fh item-icon-left icon-left-md" ng-if="tx.recipientType == 'wallet'">
          <i class="icon md-icon">
            <div class="bg wallet-icon" ng-style="{'background-color': tx.toColor}"></div>
          </i>
          <div copy-to-clipboard="{{tx.toAddress}}">
            <span ng-if="tx.toName">{{tx.toName}}</span>
            <div class="item-detail ellipsis">{{tx.toAddress}}</div>
          </div>
        </div>
        <!-- Contact -->
        <div class="item item-sub has-detail item-icon-left icon-left-md" ng-if="tx.recipientType == 'contact'">
          <i class="icon md-icon">
            <gravatar class="send-gravatar" name="{{tx.toName}}" height="30" width="30" email="{{tx.toEmail}}"></gravatar>
          </i>
          <div copy-to-clipboard="{{tx.toAddress}}">
            <span>{{tx.toName}}</span>
            <div class="item-detail ellipsis">{{tx.toAddress}}</div>
          </div>
        </div>
        <!-- Unknown / Address / Paypro -->
        <div class="item item-sub has-click item-icon-left icon-left-md" ng-if="!tx.recipientType" ng-class="{'has-detail': tx.toName}">
          <i class="icon md-icon">
            <img class="bg" ng-src="img/currency-icons/icon-{{tx.currency}}.svg">
          </i>
          <div copy-to-clipboard="{{tx.toAddress}}" ng-if="!tx.paypro" class="ellipsis">
            <span ng-if="tx.toName">{{tx.toName}}</span>
            <span ng-if="!tx.toName">{{tx.toAddress}}</span>
            <div class="item-detail" ng-if="tx.toName">{{tx.toAddress}}</div>
          </div>
          <div ng-if="tx.paypro" ng-click="openPPModal(tx.paypro)">
            <i ng-show="tx.paypro.verified && tx.paypro.caTrusted" class="ion-locked text-success"></i>
            <i ng-show="!tx.paypro.caTrusted" class="ion-unlocked text-danger"></i>
            <span class="ellipsis">conduitpay.com{{tx.paypro.domain || tx.paypro.toAddress}}</span>
            <div class="item-detail" ng-show="tx.toName">{{tx.toName}}</div>
          </div>
        </div>
        <i class="icon arrow-right" ng-if="tx.paypro"></i>
      </ion-item>
      <!-- From -->
      <ion-item class="has-label item-icon-right" ng-hide="!wallet" ng-click="showWalletSelector()">
        <span class="input-label" translate>From</span>
        <div class="item item-sub item-icon-left icon-left-md">
          <div ng-if="wallet">
            <i class="icon md-icon">
              <div class="bg wallet-icon" ng-style="{'background-color': wallet.color}"></div>
            </i>
            <div>{{wallet.name}}</div>
          </div>
          <div ng-if="!wallet">
            <i class="icon md-icon">
              <div class="bg wallet-icon" ng-style="{'background-color': 'grey'}"></div>
            </i>
            <div>...</div>
          </div>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <!-- Fee -->
      <ion-item class="has-label item-icon-right" ng-if="wallet" ng-click="chooseFeeLevel(tx, wallet)">
        <span class="input-label" translate>Fee</span>
        <span class="item-note">{{tx.feeLevelName | translate}}</span>
        <div class="item item-sub has-detail item-fh">
          <div>{{tx.txp[wallet.id].feeStr || '...'}}</div>
          <span class="item-detail">
            <span>{{tx.txp[wallet.id].alternativeFeeStr || '...'}}
              <span class="fee-rate" ng-if="tx.txp[wallet.id].feeRatePerStr">&nbsp;&middot;
                <span ng-show="tx.txp[wallet.id].feeTooHigh">&nbsp;
                  <i class="ion-alert-circled text-warning" ng-show="tx.txp[wallet.id].feeTooHigh"></i>
                </span>
                <span class="fee-rate" ng-class="{'text-warning': tx.txp[wallet.id].feeTooHigh}" translate>
                  {{tx.txp[wallet.id].feeRatePerStr}}  of the sending amount
                </span>
              </span>
            </span>
          </span>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
      <!-- Memo -->
      <ion-item class="has-label item-icon-right" ng-if="wallet" ng-click="showDescriptionPopup(tx)">
        <span class="input-label" translate>Memo</span>
        <div class="item item-sub">
          <div>{{tx.description}}</div>
          <div class="text-disabled" ng-show="!tx.description" translate>Add a transaction memo</div>
        </div>
        <i class="icon arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <click-to-accept ng-click="approve(tx, wallet, statusChangeHandler)" ng-if="!isCordova && wallet" click-send-status="sendStatus"
    is-disabled="!wallet">
    {{buttonText}}
  </click-to-accept>
  <slide-to-accept ng-if="isCordova && wallet" on-confirm="approve(tx, wallet, statusChangeHandler)" status="sendStatus" is-disabled="!wallet">
    {{buttonText}}
  </slide-to-accept>
  <slide-to-accept-success show="sendStatus === 'success'" on-confirm="onSuccessConfirm()" hide-on-confirm="true">
    <span ng-show="wallet.m == 1 && (wallet.canSign() || wallet.isPrivKeyExternal())" translate>Payment Sent</span>
    <span ng-show="wallet.m > 1 && (wallet.canSign() || wallet.isPrivKeyExternal())" translate>Proposal Created</span>
    <span ng-show="!wallet.canSign() && !wallet.isPrivKeyExternal()" translate>Transaction Created</span>
  </slide-to-accept-success>
  <item-selector-wallet title="walletSelectorTitle" wallets="wallets" selected-wallet="wallet" show="walletSelector"
    on-select="onWalletSelect">
  </item-selector-wallet>
</ion-view>
