<ion-view id="paper-wallet" hide-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Sweep Paper Wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <button ng-disabled="sending || balanceAtomic <= 0 || noMatchingWallet || !balanace"
        class="button button-clear" ng-click="sweepWallet()" translate>
        Sweep
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div class="box-notification info" ng-if="!noMatchingWallet && scanComplete">
      <span ng-if="balanceAtomic > 0">
        <h2 translate>Funds Found!</h2>
        <p translate>A balance of {{balance}} was found.</p>
      </span>
      <span ng-if="balanceAtomic == 0">
        <h2 translate>No Funds Found</h2>
        <p translate>There is no balance associated with this private key.</p>
      </span>
    </div>
    <div class="box-notification warning" ng-if="balance && noMatchingWallet">
      <h2 translate>No Available Wallets</h2>
      <p translate>There are no wallets available to receive funds.</p>
    </div>
    <div ng-if="balanceAtomic && !noMatchingWallet">
      <div class="card">
        <ion-item class="item-heading">
          <span translate>Transfer funds to</span>
        </ion-item>
        <ion-list ng-click="showWalletSelector()" ng-if="wallets[0]">
          <ion-item ng-if="wallet" class="has-click has-detail item-icon-left icon-left-lg" ng-class="{'item-icon-right': !singleWallet}">
            <i class="icon lg-icon">
              <div class="bg wallet-icon" ng-style="{'background-color': wallet.color}"></div>
            </i>
            {{wallet.name || wallet.id}}
            <div class="item-detail">
              <span ng-if="!wallet.balanceHidden">{{wallet.status.totalBalanceStr}}</span>
              <span ng-if="wallet.balanceHidden" translate>[Balance Hidden]</span>
              <span ng-if="wallet.n > 1">&middot; {{wallet.m}}-of-{{wallet.n}}</span>
            </div>
            <div class="item-note assertive" ng-if="wallet.error">{{wallet.error}}</div>
            <i ng-if="!singleWallet" class="icon arrow-right"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <button class="button button-standard button-primary m20t" ui-sref="tabs.scan"
      ng-if="!noMatchingWallet && scanComplete && balanceAtomic == 0">
      <span translate>Scan another key</span>
    </button>
    <slide-to-accept-success
      show="sendStatus === 'success'"
      on-confirm="onSuccessConfirm()"
      hide-on-confirm="true">
      <span translate>Funds transferred</span>
    </slide-to-accept-success>
  </ion-content>
  <item-selector-wallet
    title="walletSelectorTitle"
    wallets="wallets"
    selected-wallet="wallet"
    show="showWallets"
    on-select="onWalletSelect">
  </item-selector-wallet>
</ion-view>
