<ion-view id="preferences-history" class="settings" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Transaction History' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-include="'views/includes/walletItem.html'"></div>
    <div class="list">
      <a class="item is-button" href ng-show="csvReady && !isCordova" ng-csv="csvContent" csv-header="csvHeader"
        filename="{{appName}}-{{wallet.name}}.csv">
        <div translate>Export to file</div>
      </a>
      <a class="item has-detail" href ng-show="!csvReady && !isCordova" ng-class="{'is-button': !err}">
        <div translate>Export to file</div>
        <div class="item-detail" ng-show="!err" translate>
          Preparing...
        </div>
        <div class="item-detail" ng-show="err">
          {{err | translate}}
        </div>
      </a>
      <div class="item item-divider"></div>
      <a class="item is-button" ng-click="clearTransactionHistory()">
        <div translate>Resynchonize with wallet service</div>
      </a>
      <div class="settings-explanation">
        <div class="settings-description" translate>
          The transaction history and all new incoming transactions are cached on this device. Resynchronizing with the server clears the cache and retrieves transaction history from the wallet service.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
