<ion-view id="preferences-language" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Language' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-radio ng-repeat="lang in availableLanguages" ng-value="lang.isoCode" ng-model="currentLanguage"
        ng-click="save(lang.isoCode)">{{lang.name}}
      </ion-radio>
    </ion-list>
    <div class="box-notification info clear">
      <p translate>
        We’re always looking for translation contributions! You can make corrections or help to make this app available in your native language by joining our community on Crowdin.
      </p>
      <p translate>
        Don't see your language on Crowdin? Contact the Owner on Crowdin! We'd love to support your language.
      </p>
    </div>
      <button class="button button-standard button-primary m20b" ng-click="openExternalLink()" translate>
        Contribute Translations
      </button>
  </ion-content>
</ion-view>
