<ion-view id="preferences-history" class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Transaction History' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-include="'views/includes/walletItem.html'"></div>
    <div class="list">
      <a class="item link" href ng-show="csvReady && !isCordova" ng-csv="csvContent" csv-header="csvHeader"
        filename="{{appName}}-{{wallet.name}}.csv">
        <span translate>Export to file</span>
      </a>
      <a class="item" href ng-show="!csvReady && !isCordova" ng-class="{'link': !err}">
        <span translate>Export to file</span>
        <span class="item-note" ng-show="!err" translate>
          Preparing...
        </span>
        <span class="item-note" ng-show="err">
          {{err | translate}}
        </span>
      </a>
      <div ng-show="!isCordova" class="item item-divider"></div>
      <a class="item link" ng-click="clearTransactionHistory()">
        <span translate>Resynchonize with wallet service</span>
      </a>
      <div class="settings-explanation">
        <div class="settings-description" translate>
          The transaction history and all new incoming transactions are cached on this device. Resynchronizing with the server clears the cache and retrieves transaction history from the wallet service.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
