<ion-view id="preferences-alt-currency" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Alternative Currency' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-input item-icon-left icon-left-sm">
        <i class="icon ion-ios-search sm-icon"></i>
        <input type="search" ng-init="searchedAltCurrency = ''" ng-model="searchedAltCurrency" ng-change="findCurrency(searchedAltCurrency)"
          placeholder="Search your currency" class="ng-pristine ng-untouched ng-valid ng-empty" style="">
      </ion-item>
    </ion-list>
    <div ng-if="lastUsedAltCurrencyList[0]">
      <ion-list ng-if="lastUsedAltCurrencyList[0]">
        <ion-item class="item-divider" translate>
          Recently Used
        </ion-item>
        <ion-radio ng-repeat="lastUsedAltCurrency in lastUsedAltCurrencyList" ng-value="lastUsedAltCurrency.isoCode" ng-model="currentCurrency"
          ng-click="save(lastUsedAltCurrency)">{{lastUsedAltCurrency.name}}
        </ion-radio>
      </ion-list>
    </div>
    <ion-list>
      <ion-item class="item-divider" translate>
        All Currencies
      </ion-item>
      <ion-radio ng-repeat="altCurrency in altCurrencyList" ng-value="altCurrency.isoCode" ng-model="currentCurrency"
        ng-click="save(altCurrency)">{{altCurrency.name}}
      </ion-radio>
    </ion-list>
    <ion-infinite-scroll ng-if="!listComplete" on-infinite="loadMore()" distance="50%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
