<ion-view id="preferences-delete" class="settings" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Delete Wallet' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list" ng-show="wallet">
      <div ng-include="'views/includes/walletItem.html'"></div>
      <div class="item item-fh">
        <h1 class="text-center text-danger" translate>Warning!</h1>
        <div class="padding text-center">
          <div translate>Permanently delete this wallet.</div>
          <div translate>THIS ACTION CANNOT BE REVERSED.</div>
        </div>
      </div>
    </div>
    <button class="button button-standard button-assertive" ng-click="showDeletePopup()">
      {{'Delete' | translate}} {{walletName}}
    </button>
  </ion-content>
</ion-view>
