<ion-view id="preferences-alias" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Wallet Name' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="box-notification info clear">
      <p>What do you call this wallet?</p>
      <p>When this wallet was created, it was called &ldquo;{{walletName}}&rdquo;. You can change the name displayed on this device.</p>
    </div>
    <form name="aliasForm" ng-submit="save(aliasForm)" novalidate>
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label" translate>Name</span>
          <input type="text" id="alias" name="alias" ng-model="alias.value" placeholder="Personal Wallet" required>
        </ion-item>
      </ion-list>
      <button type="submit" class="button button-standard button-primary m20t"
        ng-disabled="aliasForm.$invalid || (alias.value == walletAlias)" translate>
        Save
      </button>
    </form>
  </ion-content>
</ion-view>
