<div class="list" ng-show="formData.supported">
  <div class="item text-center">
    <qrcode size="220" version="11" error-correction-level="M" data="{{formData.exportWalletInfo}}" color="#444455"></qrcode>
  </div>
  <div class="settings-explanation">
	  <div class="settings-description" translate>
	  	On the destination device, go to <b>Add wallet &gt; Import wallet</b> and scan this QR code.
	  </div>
	</div>
</div>
<div class="settings-explanation" ng-show="!formData.supported" >
  <div class="settings-description" translate>
		Exporting via QR code is not supported for this wallet.
  </div>
</div>
