<ion-view id="tab-home" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title><img class="tab-home__logo" src="img/brand/logo.svg"></ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button button-back button-clear" ng-click="toggleLayout()">
        <img class="icon-nav" ng-src="img/icon-{{nextLayout}}.svg"/>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-refresher ng-if="isAndroid" pulling-icon="ion-ios-refresh" spinner="ios-small" on-refresh="onRefresh()">
    </ion-refresher>

    <!-- App update available -->

    <div ng-show="tipNewRelease" ng-include="'views/includes/tipNewRelease.html'"></div>

    <!-- App rating -->

    <div ng-show="showRateCard.value" ng-include="'views/feedback/rateCard.html'"></div>

    <!-- Wallet is ready tip -->

    <div ng-show="tipWalletReady" ng-include="'views/includes/tipWalletReady.html'"></div>

    <!-- Payment proposals --> 

    <div class="list card" ng-hide="!txps[0]">
      <a class="item item-icon-right item-heading" ui-sref="tabs.proposals">
        {{'Payment Proposals'|translate}}
        <i class="icon arrow-right"></i>
        <span class="badge badge-assertive m5t m10r" ng-show="txpsN>3"> {{txpsN}}</span>
      </a>
      <div ng-repeat="tx in txps" ng-click="openTxpModal(tx)">
        <a class="wallet-details__item item item-sub" ng-include="'views/includes/txp.html'"></a>
      </div>
    </div>

    <!-- Recent transactions --> 

    <div class="list card" ng-if="notifications[0] && recentTransactionsEnabled">
      <a class="item item-icon-right item-heading" ui-sref="tabs.activity">
        <span translate>Recent Transactions</span>
        <i class="icon arrow-right"></i>
        <span class="badge badge-assertive m5t m10r" ng-show="notificationsN>3"> {{notificationsN}}</span>
      </a>
      <a class="item item-sub activity" ng-repeat="notification in notifications" ng-click="openNotificationModal(notification)">
        <span ng-include="'views/includes/walletActivity.html'"></span>
      </a>

      <a class="item item-sub activity" ng-repeat="notification in notifications" ng-click="openNotificationModal(notification)">
        <span ng-include="'views/includes/walletActivity.html'"></span>
      </a>
    </div>

    <!-- List layout -->

    <div ng-if="layout == 'list'" class="list card">
      <div class="item item-icon-right item-heading">
        <span translate>Wallets</span>
        <a ui-sref="tabs.add" ng-if="wallets[0]"><i class="icon ion-ios-plus-empty list-add-button"></i></a>
      </div>
      <a ng-if="!wallets[0]" ui-sref="tabs.add" class="item item-icon-left item-big-icon-left item-icon-right next-step">
       <i class="icon big-icon-svg">
         <div class="bg wallet-icon icon-create-wallet"></div>
       </i>
        <span translate>Add wallet</span>
        <i class="icon arrow-right"></i>
      </a>
      <div ng-repeat="wallet in wallets track by $index">
        <span ng-include="'views/includes/walletListItem.html'"></span>
      </div>
    </div>

    <!-- Grid layout -->

    <div ng-if="layout == 'grid'">
      <div class="dashboard-section" translate>
        <span class="left" translate>Recent Wallets</span>
        <span class="right pointer" ui-sref="tabs.home.allWallets" translate>All &gt;</span>
      </div>
      <ion-slides class="home-slides" options="walletSlides.options" slider="walletSlides.slider" show-pager="false">
        <ion-slide-page class="home-slide-page" ng-repeat="wallet in wallets track by $index">
          <div class="slide-container">
            <span ng-include="'views/includes/walletCard.html'"></span>
          </div>
        </ion-slide-page>
        <ion-slide-page class="home-slide-page">
          <div class="slide-container">
            <div class="nav-grid-card" ng-click="goToAddWallet()">
              <i class="icon ion-ios-plus-empty"></i>
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>

    <div class="ng-hide list card" ng-show="nextStepsItems.length>0" ng-include="'views/includes/nextSteps.html'"></div>
  </ion-content>
</ion-view>
