<ion-view id="wallet-activity" class="ows" show-tabs>
  <ion-nav-bar class="bar bar-header">
    <ion-nav-title>{{'Recent Transactions' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div ng-if="fetchingNotifications" class="updating">
      <div class="text-center m20t">
        <span translate>Updating</span>
        <ion-spinner icon="ios"></ion-spinner>
      </div>
    </div>
    <div ng-show="!notifications[0]">
      <div class="text-center m10t" translate>No recent transactions</div>
    </div>
    <div class="card" ng-if="!fetchingNotifications">
      <ion-list>
        <ion-item class="has-click has-detail" ng-repeat="notification in notifications" ng-click="openNotificationModal(notification)">
          <span ng-include="'views/includes/wallet-activity.html'"></span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
