#ows-send-feedback {
  background: $v-feedback-bg;
  color: $v-feedback-color;

  .rating {
    text-align: right;
  }

  .star {
    height: 1rem;
    margin-left: 5px;
		position: relative;
    top: 50%;
		transform: translateY(-50%);
  }
}
