#addressbook-entry-add,
#addressbook-entry-edit {
  background: $v-addressbook-bg;
  color: $v-addressbook-color;

  @include common;

  .gravatar-content {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

	/*
	 * Select + input in a deletable item.
	 * Used for address add and edit.
	 */

	.item.item-complex {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;

	  .item-delete .button.icon {
	    color: $v-assertive-color !important;
			background: $v-black-transparent-light;
	    left: -8px;
	    width: 50px;
	    padding-left: 14px;
	    border-radius: 0;

	    &:before {
	      font-size: 24px;
	    }
	  }

	  .item-content {
	    background: none;
	    padding: 15px;
	    height: 100%;

	    .row {
		    padding-left: 1px;
		    padding-right: 0;

				+ .row {
			    margin-top: 0;
			    padding-top: 5px;
				}

	      .col {
          padding-left: 0;
			    padding-right: 0;

	        &:last-child {
	          padding: 0 !important;
	        }

	        &.col-1 {
	          flex: 0 0 85px;
	          min-width: 85px;
	        }

	        &.item-icon-right {
            padding-right: 34px !important;

            i {
            	right: -3px;
            }
	        }

	        &.item-select {
	          select {
	            left: 0;
	            padding: 5px;
	            direction: ltr;
	          }
	        }

	        &.item-input {
	          padding-right: 0;

	          input {
	            margin-top: 0 !important;
	            width: 100%;
	            padding-right: 10px;
	            border-radius: 2px;
	          }
	        }
	      }
	    }
	  }
	}

	/*
	 *
	 */

}
