<div ng-controller="AppletCategoryCtrl as c" ng-init="c.init()">

  <ion-nav-bar ng-style="{'background':theme.view.appletCardListNavBarBackground, 'border-bottom':theme.view.appletCardListNavBarBorderBottom}">
    <ion-nav-title class="size-14" ng-style="{'color':theme.view.appletCardListNavBarTitleColor}">Categories</ion-nav-title>
    <ion-nav-buttons side="left">
      <a class="button button-applet-header button-clear applet-icon-left fi-widget size-29"
        ng-style="{'color':theme.view.appletCardListNavBarButtonTextColor}"
        ng-click="c.endEdit(); c.openApplet('com.bitpay.copay.applet.builtin.settings')"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a ng-show="!c.isEditing()" class="button button-applet-header button-clear applet-icon-right"
        ng-style="{'color':theme.view.appletCardListNavBarButtonTextColor}"
        ng-click="c.beginEdit()">Edit</a>
      <a ng-show="c.isEditing()" class="button button-applet-header button-clear applet-icon-right"
        ng-style="{'color':theme.view.appletCardListNavBarButtonTextColor}"
        ng-click="c.endEdit()">Done</a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="content category-card-list-view">

    <!-- applet categories -->
    <div gridster="c.gridsterOpts" ng-style="{'width':theme.view.appletCardWidth}">
      <ul>
        <li class="applet-card" ng-style="{'padding-top':theme.view.appletCardPaddingTop}"
          gridster-item="categoryLayoutMap" ng-repeat="category in c.categories">
          <div class="applet-card-item" ng-style="{'background':theme.view.appletCardBackground}">

            <div class="applet-card-clickable" ng-click="c.goAppletCategoryList(category);">

              <i class="applet-card-drag-handle ion-ios-drag" ng-class="{'fade-in': c.isEditing(), 'fade-out': c.doneEditing()}"
                ng-style="{'color':theme.view.appletCardAccessoryColor}"></i>

              <i class="applet-card-accessory-right icon-arrow-right3" ng-class="{'fade-in': c.doneEditing(), 'fade-out': c.isEditing()}"
                ng-style="{'color':theme.view.appletCardAccessoryColor}"></i>

              <i class="applet-card-accessory-left ion-ios-more" ng-click="c.openPreferences(category)"
                ng-class="{'slide-in': c.isEditing()}"
                ng-style="{'color':theme.view.appletCardAccessoryColor}"></i>

              <div class="applet-category-info" ng-class="{'move-over': c.isEditing()}">
                <div class="applet-category-image" ng-style="{'background':category.view.iconBackground}"></div>
                <span class="applet-category-name" ng-style="{'color':theme.view.appletCardPrimaryTextColor}">{{category.header.name}}</span>
                <span class="applet-category-description" ng-style="{'color':theme.view.appletCardSecondaryTextColor}">{{category.header.count}}{{category.header.count > 1 ? ' items' : ' item' }}</span>
              </div>
            </div>

          </div>
        </li>
      </ul>
    </div>

  </ion-content>
  <div class="applet-card-container-footer"></div>
</div>
