<div class="card" id="rate-card" ng-controller="RateAppTipCtrl">
  <ion-item class="item-heading item-icon-right">
    <span translate>How do you like {{appName}}?</span>
    <a ng-click="hideRateCard()">
      <i class="icon ion-ios-close-empty close-home-tip"></i>
    </a>
  </ion-item>
  <ion-list>
    <ion-item class="append row" ng-class="{'row-margin': isModal}">
      <div class="col col-20" ng-click="setScore(1)">
        <i class="icon icon-svg">
          <img ng-if="1 <= score" src="img/icon-star-filled.svg"/>
          <img ng-if="1 > score" src="img/icon-star.svg"/>
        </i>
      </div>
      <div class="col col-20" ng-click="setScore(2)">
        <i class="icon icon-svg">
          <img ng-if="2 <= score" src="img/icon-star-filled.svg"/>
          <img ng-if="2 > score" src="img/icon-star.svg"/>
        </i>
      </div>
      <div class="col col-20" ng-click="setScore(3)">
        <i class="icon icon-svg">
          <img ng-if="3 <= score" src="img/icon-star-filled.svg"/>
          <img ng-if="3 > score" src="img/icon-star.svg"/>
        </i>
      </div>
      <div class="col col-20" ng-click="setScore(4)">
        <i class="icon icon-svg">
          <img ng-if="4 <= score" src="img/icon-star-filled.svg"/>
          <img ng-if="4 > score" src="img/icon-star.svg"/>
        </i>
      </div>
      <div class="col col-20" ng-click="setScore(5)">
        <i class="icon icon-svg">
          <img ng-if="5 ==  score" src="img/icon-star-filled.svg"/>
          <img ng-if="5 > score" src="img/icon-star.svg"/>
        </i>
      </div>
    </ion-item>
  </ion-list>
  <button type="submit" class="button button-standard button-primary m20b" ng-if="button_title" ng-click="goFeedbackFlow()">
    {{button_title}}
  </button>
</div>
