#onboard-disclaimer {
  height: 100%;
  transition: transform 1s ease;

  .checkbox input, .checkbox-icon {
    position: relative;
    width: 28px;
    height: 28px;
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
  }

  &-container {
    max-width: 450px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    @media(max-height: 480px) {
      padding-top: 1.5rem;
    }
  }

  .has-header > &-container {
    height: calc(100vh - 210px);
  }

  .disclaimer-topic {
    margin: 0 1rem;
    font-size: 18px;
    font-weight: bold;
  }

  .disclaimer-description {
    margin: 1rem 1rem 2rem;

    @media(max-height: 480px) {
      font-size: 14px;
    }
  }

  ion-content {
    height: 101%;

    .scroll{
      height: 100%;
    }

    h3 {
      margin-top: 1.5rem;
    }
  }

  .tag {
    padding-bottom: 0;
  }

  .checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: $v-onboarding-checkbox-off-border;
    background: transparent;
  }

  .checkbox input:after,
  .checkbox .checkbox-icon:after {
    border-color: $v-onboarding-checkbox-on-border;
  }

  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    border-color: $v-onboarding-checkbox-on-border;
  }
}

#agree-to-terms {
  color: $v-onboarding-tou-color;
  background: $v-onboarding-tou-bg;
  padding: 1rem 0 1rem 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 1px 10px $v-black-transparent-light;
  position: absolute;
  bottom: 0;
  bottom: calc(constant(safe-area-inset-bottom));
  bottom: calc(env(safe-area-inset-bottom));

  &-content {
    max-width: 450px;
    @include center-block();
  }

  .checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: $v-onboarding-checkbox-off-border;
    background: transparent;
  }

  .checkbox input:after,
  .checkbox .checkbox-icon:after {
    border-color: $v-onboarding-checkbox-on-border;
  }

  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    border-color: $v-onboarding-checkbox-on-border;
  }

  button {
    margin-top: 1.5rem;
    position: relative;
  }

  @media (max-height:480px) {
    padding: 0.5rem;
  }
}

@media (max-height:460px) {
  #agree-to-terms {
    position: relative;
    float: left;
  }
}

@import "disclaimer-tou/disclaimer-tou";

