<ion-pane>
  <ion-view id="onboard-disclaimer" class="ows onboarding">
    <ion-nav-bar>
      <ion-nav-title></ion-nav-title>
      <ion-nav-buttons side="primary">
        <button class="button button-nav-bar button-back" ng-click="goBack()" ng-if="!backedUp"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
      <div class="onboarding-disclaimer-container">
        <div ng-show="resume" class="onboarding-topic disclaimer-topic" translate>
          Quick review!
        </div>
        <div ng-show="!resume" class="onboarding-topic disclaimer-topic" translate>
          Almost done! Let's review
        </div>
        <div class="onboarding-description disclaimer-description" translate>
          Digital currency cannot be safely held by a bank or web service.
        </div>
        <ion-list>
          <ion-checkbox class="item-fh item-no-bg" ng-model="accepted.first">
            <span translate>
              I understand that my funds are held securely on this device, not by a company.
            </span>
          </ion-checkbox>
          <ion-checkbox class="item-fh item-no-bg" ng-model="accepted.second">
            <span translate>
              I understand that if this app is moved to another device or deleted, or this device is lost that my cryptocurrency can only be recovered with the backup phrase.
            </span>
          </ion-checkbox>
        </ion-list>
      </div>
    </ion-content>
  </ion-view>
  <div id="agree-to-terms" class="ows" ng-if="accepted.first && accepted.second" ng-class="{'header-present': !backedUp}">
    <div class="agree-to-terms-content">
      <ion-list>
        <!-- ion-checkbox with *link* in the label does not work (checkbox click-blocks), use ion-item and plain html checkbox -->
        <ion-item class="item-checkbox item-fh item-no-bg">
          <label class="checkbox">
            <input type="checkbox" ng-model="terms.accepted" class="ng-hide">
            <i class="checkbox-icon"></i>
          </label>
            I have read, understood, and agree to the <a href ng-click="openTermsModal()">Terms of Use.</a>
        </ion-item>
      </ion-list>
      <button ng-disabled="!accepted.first || !accepted.second || !terms.accepted" class="button button-standard button-primary"
        ng-click="confirm()" translate>
        Confirm &amp; Finish
      </button>
    </div>
  </div>
</ion-pane>
