<ion-pane>
  <ion-view id="onboard-disclaimer" class="ows onboarding">
    <ion-nav-bar class="bar in-front-of-action-sheet-backdrop">
      <ion-nav-title></ion-nav-title>
      <ion-nav-buttons side="primary">
        <button class="button button-nav-bar button-back" ng-click="goBack()" ng-if="!backedUp"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
      <div class="onboarding-disclaimer-container">
        <div ng-show="resume" class="onboarding-topic disclaimer-topic" translate>
          Quick review!
        </div>
        <div ng-show="!resume" class="onboarding-topic disclaimer-topic" translate>
          Almost done! Let's review
        </div>
        <div class="onboarding-description disclaimer-description" translate>
          Digital currency cannot be safely held by a bank or web service.
        </div>
        <ion-list>
          <ion-checkbox class="item-fh item-no-bg" ng-model="accepted.first">
            <span translate>
              I understand that my funds are held securely on this device, not by a company.
            </span>
          </ion-checkbox>
          <ion-checkbox class="item-fh item-no-bg" ng-model="accepted.second">
            <span translate>
              I understand that if this app is moved to another device or deleted, or this device is lost that my cryptocurrency can only be recovered with the backup phrase.
            </span>
          </ion-checkbox>
        </ion-list>
      </div>
    </ion-content>
    <agree-to-terms-menu show="accepted.first && accepted.second" on-open-terms="openTermsModal" on-confirm="confirm">
    </agree-to-terms-menu>
  </ion-view>
</ion-pane>
