<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Applets'; goBackToState = 'preferencesGlobal'; useTheme = true">
</div>

<ion-content id="applet-settings" class="content preferences" ng-controller="AppletSettingsCtrl as p" ng-init="p.init()"
  ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':theme.view.viewBackground}">
  <h4 ng-style="{'background':theme.view.viewBackground}"></h4>
  <ul class="no-bullet m0 ">
    <li ng-click="$root.go('preferencesAppletPresentation')"
      ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
        {{p.selectedPresentation}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Presentation</div>
    </li>
  </ul> 
  <div ng-show="index.isCordova">
    <ul class="no-bullet m0 ">
      <li ng-click="$root.go('preferencesAppletsWallpaper')"
        ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
        <div class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
          <i class="icon-arrow-right3 size-24"></i>
        </div>
        <div ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Wallpaper</div>
      </li>
    </ul> 
  </div>
  <h4 ng-style="{'background':theme.view.viewBackground}"></h4>
  <ul class="no-bullet m0 ">
    <li class="p0i applet-list-item" ng-if="p.appletMayHide(applet)" ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}" ng-repeat="applet in p.applets">
      <ion-toggle ng-model="applet.preferences.visible" ng-style="{'color':theme.view.viewPrimaryTextColor}">
        {{applet.header.name}}
      </ion-toggle>
    </li>
  </ul>
  <div class="extra-margin-bottom"></div>
</ion-content>
