<ion-view id="ows-backup-phrase" class="ows ows-backup" hide-tabs>
  <ion-nav-bar>
    <ion-nav-title>{{viewTitle}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="ng-hide" ng-show="deleted">
        <div class="phrase-unavailable" translate>
          Wallet recovery phrase not available.
        </div>
        <div class="phrase-unavailable-instructions" translate>
          You can still export it from <b>Advanced &gt; Export</b>.
        </div>
    </div>
    <!-- STEP 1 -->
    <div class="backup-phrase-step-1 ng-hide" ng-show="step == 1 && (mnemonicWords || (!credentialsEncrypted && !deleted))">
      <div class="backup-phrase">
        <div class="backup-phrase-content">
          <span class="backup-phrase-content-word-readonly" ng-repeat="word in mnemonicWords track by $index">
            <span style="white-space:nowrap">
              {{word}}
            </span>
            <span ng-show="useIdeograms">&#x3000;</span>
          </span>
        </div>
      </div>
      <div class="backup-text">
        <div class="backup-topic" translate>
          Carefully write down this phrase
        </div>
        <div class="backup-description" translate>
          <div class="password-required" ng-show="mnemonicHasPassphrase" translate>
            This recovery phrase was created with a password. To recover this wallet both the recovery phrase and password are needed.<br><br>
          </div>
          The order of these words is important. We will confirm your backup on the next screen.
        </div>
      </div>
      <div class="cta-buttons">
        <button ng-show="!deleted" ng-disabled="credentialsEncrypted || error" class="button button-standard button-primary"
          ng-click="goToStep(2);" translate>
          I've written it down
        </button>
      </div>
    </div>
    <!-- STEP 2 -->
    <div class="backup-phrase-step-2 ng-hide" ng-show="step == 2">
      <div class="backup-phrase">
        <div class="backup-phrase-content">
          <span ng-repeat="cword in customWords track by $index" ng-show="customWords[$index]">
          <button class="button select-word" ng-click="removeButton($index, cword)">
            {{cword.word}}
          </button>
          </span>
        </div>
      </div>
      <div class="backup-text">
        <div class="backup-topic" translate>
          Let's verify your backup
        </div>
        <div class="backup-description" ng-show="!selectComplete" translate>
          Tap each word in the correct order.
        </div>
        <div class="backup-description" ng-show="selectComplete" translate>
          Is this correct?
        </div>
      </div>
      <div class="select-phrase">
        <div class="select-phrase-content">
          <span ng-show="!selectComplete" ng-repeat="shuffledWord in shuffledMnemonicWords track by $index">
            <button class="button select-word" ng-click="addButton($index, shuffledWord)"
            ng-disabled="shuffledWord.selected">
            {{shuffledWord.word}}
            </button>
          </span>
        </div>
      </div>
      <div class="cta-buttons" ng-show="selectComplete">
        <button class="button button-standard button-primary" ng-click="goToStep(3);" translate>
          Confirm
        </button>
        <button class="button button-standard button-secondary button-clear" ng-click="setFlow(2);" translate>
          Clear
        </button>
      </div>
    </div>
    <!-- STEP 3 -->
    <div class="wallet-backup-phrase-step-3 ng-hide" ng-show="step == 3">
      <h3 translate>
        Enter your password
      </h3>
      <div class="password-prompt">
        <div class="explanation">
          <div class="description" translate>
            In order to verify your wallet backup, please type your password.
          </div>
          <div class="input">
            <input type="password" ng-model="data.passphrase" autocapitalize="off" spellcheck="false" autofocus/>
          </div>
        </div>
      </div>
      <div class="button-confirm">
        <button ng-disabled="!data.passphrase" class="button button-standard button-primary" ng-click="goToStep(4);" translate>
          Confirm
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
