.backup {
  background: $v-backup-bg;
  color: $v-backup-color;
  height: 100%;
  text-align: center;

  .bar.bar-header {
    background: none;
    border: 0 none transparent;
    color: $v-backup-bar-header-color;
    button {
      color: $v-backup-bar-header-button-color;
    }
  }

  .button-nav-bar .icon:before {
    color: $v-backup-bar-header-button-color;
  }

  .backup-text {
    margin: auto;
    width: 100%;

    @media(max-height: 480px) {
	    top: 45%;
    }

    > .backup-topic {
      font-size: 18px;
      font-weight: bold;
      margin: auto;
      margin-bottom: 20px;
      max-width: 300px;

      &.light {
        font-family: $v-font-family-light;
        font-weight: normal;
      }

      @media(max-height: 480px) {
        max-width: 100%;
        margin-bottom: 0;
      }
    }

    > .backup-description {
      font-family: $v-font-family-light;
      font-size: 14px;
      line-height: 1.1rem;
      color: white;
      margin: auto;
      width: 100%;
      max-width: 300px;

			> .password-required {
				font-weight: bold;
				color: $v-warning-color;
			}

      @media(max-height: 480px) {
        max-width: 100%;
      }
    }
  }

 	%cta-buttons {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	}
}

@import "phrase";
@import "backup-needed/backup-needed";
@import "confirm-backup/confirm-backup";
@import "screenshot-warning/screenshot-warning";
@import "warning/warning";
