#address-book {
  background: $v-address-book-bg;
  color: $v-address-book-color;

  @include common;

  .scroll {
    height:100%;
  }

  .list .item {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .icon-inline {
    position: relative;
    left: -25px;
    padding-left: 45px;
  }

  .zero-state-cta {
    padding-bottom: 3vh;
  }
}
