#address-book {
  background: $v-address-book-bg;
  color: $v-address-book-color;

  .scroll {
    height:100%;
  }

  i.icon>svg#Add_Contact path.st0 {
    stroke: $v-icon-negative-color;
  }

  .icon-inline {
    position: relative;
    top: 5px;

    > img {
      height: 22px;
    }
  }

  .zero-state-cta {
    padding-bottom: 3vh;
  }

  .list {
    background: $v-address-book-list-bg;

    .item {
      background: $v-address-book-item-bg;
      color: $v-address-book-color;
      border-color: $v-address-book-item-border-color;
      border-left: 0;
      border-right: 0;
      border-top: 0;

      .item-content {
        background: none;

        .gravatar {
          top: 20px;
        }

        .name {}

        .address {
          font-size: 14px;
          color: $v-address-book-secondary-color;
        }
      }

      &.bb0 {
        border-bottom: 0;
      }

      .big-icon-svg {
        padding: 0 7px;

        > .bg {
          @include icon-shape(40px, 40px);

          &.success {
            background: $v-success-color;
          }
        }
      }
    }
  }

  .address-book-search {
    background: $v-list-item-bg;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .search {
      border: none;
      background: none;
      margin-right: 15px;

      i {
        font-size: 18px;
        position: relative;
        top: 3px;
      }
    }
  }

  input {
    background: $v-input-bg !important;
    color: $v-address-book-color;
    padding-left: 10px;
    margin-top: 5px;
  }

  input[type="search"] {
    width: 100%;
  }
}
