#address-book-add {
  background: $v-address-book-bg;
  color: $v-address-book-color;

  @include common;

  .zero-state-cta {
    padding-bottom: 3vh;
  }

  .add-address-input-group {
    .item-stacked-label {
      padding: 1rem;
    }
  }
}
