#confirm {
  background: $v-send-bg;
  color: $v-send-color;

  @include common;

  .item-note {
    &.x {
      color: $v-send-color;
    }
  }

  .tx-details-content > .scroll {
    padding-bottom: .25rem;
  }

  .gravatar-contact {
    display: flex;
    margin-left: -3px;
    span {
      margin: 5px 0 0 8px;
    }
  }

  .toggle {
    cursor: pointer;
  }
}
