#copayers-invitation {
  background: $v-home-bg;
  color: $v-home-color;

  @include common;

  .check {
    color: $v-success-color !important;
  }

  .button-share {
    color: $v-bar-header-button-color;
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0 10px;

    .icon:before {
      font-size: 26px;
    }
  }

  .copayers-secret {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}
