#custom-amount {
  background: $v-receive-bg;
  color: $v-receive-color;

  @include common;

  .address {
    .qr-code {
      text-align: center;
      margin-top: 50px;
    }

    .address-label {
      font-size: 14px;
      margin: 20px 0;
    }
  }
}
