#preferences-fee {
  background: $v-settings-bg;
  color: $v-settings-color;

  .estimates {
    font-size: 14px;
  }

  .fee-minutes, .fee-rate {
    font-weight: bold;
  }

  .fee-warning {
    background: $v-warning-color;
    min-height: 32px;
    text-align: center;
    font-size: 14px;
    display: block;
    text-decoration: none;
    z-index: 9999;
    position: relative;
    padding: 5px 10px;

    i {
      font-size: 16px;
      margin: 0 2px;
    }

  }

  .fee-policies {
    border-color: $v-white-color;
    border-style: solid;
  }
}
