#receive {
  background: $v-receive-bg;
  color: $v-receive-color;

  .button-share {
    color: $v-bar-header-button-color;
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0 10px;

    .icon:before {
      font-size: 26px;
    }
  }

  .address {
    overflow: auto;
    height: 100%;

    &-info {
      padding-top: 50px;

      .address-label {
        font-size: 14px;
        margin: 20px 0;
      }
    }

    .incomplete {
      .title {
        padding-top: 10%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }

      .subtitle {
        padding: 20px;
        margin-top: 10%;
        text-align: center;
      }
    }
  }

  .backup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32px;
    cursor: pointer;
    background: $v-warning-color;
    color: $v-white-color;
    text-align: center;
    padding: 5px 0;

    i {
      margin: 0 10px;
      font-size: 20px;
      line-height: 16px;

      &.arrow-right {
        float: right;
        opacity: 1;
      }
    }
  }

  .receiveTip {
    text-align: center;
    padding-top: 62px;

    img {
      margin-left: -1px;
    }

    & > .title {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 10px;
    }

    & > .subtitle {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 300;
      margin: 20px 1em 2.5em;
    }

    button {
      margin-top: 1rem;
    }
  }
}
