#tab-settings {
  background: $v-settings-bg;
  color: $v-settings-color;
}

.settings {

  @include common;

  .text-danger {
    padding: 10px;

    &:before {
      content: "\f100";
      font-family: "Ionicons";
      margin-right: 10px;
    }
  }

  .has-comment {
    border-bottom: 0 none;
  }

  .comment {
    background: $v-list-item-bg;
    color: $v-settings-secondary-color;
    font-size: 14px;
    padding: 15px;
    line-height: 1.2rem;

    .text {
      padding-left: 25px;
    }

    .icon {
      position: absolute;

      img {
        width: 20px;
      }
    }
  }

  &-explanation,
  &-button-group {
    padding: 0 1rem;
    margin: 1rem 0;
  }

  &-heading {
    margin: 1rem 0;
    font-size: 16px;
    line-height: 1.2rem;
  }

  &-description {
    margin: 1rem 0;
    font-size: 14px;
    line-height: 1.2rem;
  }

  .setupForm {
    padding-bottom: 20px;
  }

  .icon-right {
    color: $v-settings-color;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: transparent;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
    z-index: 10;
  }
}
