#tx-details {
  background: $v-home-bg;
  color: $v-home-color;

  .add-bottom-for-cta {
    bottom: 92px;
  }

  .action-created {
    color: $v-success-color;
    border-color: $v-success-color;
  }

  .action-rejected {
    color: $v-error-color;
    border-color: $v-error-color;
  }

  .event-icon {
    > img {
      width: 26px;
      height: 26px;
    }

    &.draw {
      width: 26px;
      height: 26px;
      font-size: 13px;
      font-weight: 600;
      text-align: center;
      border-radius: 50%;
      border: 3px solid;
      line-height: 20px;
    }

  }

  .timeline {
    &::before {
      content: '';
      background: $v-txp-timeline-color;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 50%;
      top: calc(-50% - 13px);
    }

    &::after {
      content: '';
      background: $v-txp-timeline-color;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 50%;
      top: calc(50% + 13px);
    }
  }
}
