/*
 * Generate wallet colors from color map
 */

.wallet-color-count {
  content: '' + length($v-wallet-color-map);
}

.wallet-css-default {
	background: $v-default-wallet-background;
  color: $v-default-wallet-color;
}

@each $id, $map in $v-wallet-color-map {
  .wallet-color-#{$id} {
    background: map-get($map, color);
  }
  .wallet-color-#{$id}:before {
    content: map-get($map, name);
    margin-left: 2.4rem;
  }
}
