/*
 * Generate wallet vanity colors from color map
 */

.wallet-vanity-color-count {
  content: '' + length($v-wallet-vanity-color-map);
}

.wallet-css-default {
  background: $v-wallet-vanity-bg;
  color: $v-wallet-vanity-color;
}

@each $id, $map in $v-wallet-vanity-color-map {
  .wallet-vanity-color-#{$id} {
    background: map-get($map, color);
  }
  .wallet-vanity-color-#{$id}:before {
    content: map-get($map, name);
    margin-left: 2.4rem;
  }
}
