#ows-all-wallets {
  background: $v-wallets-bg;
  color: $v-wallets-color;

  .wallet-grid {
	  width: 330px;
  }

  .wallet-grid-item {
	  width: 150px;
	  height: 150px;
	  margin:auto;
		@include relative-vertical-center();
	}

  .group-area {
		width: calc(2 * 165px + 10px);
		height: calc(3 * 165px);
		border: 0.5px dashed $v-white-transparent-mid;
		@include absolute-horizontal-center();
	}

  .group-overlay {
    width: 100%;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
  }

  .group-label {
		font-size: 12px;
		padding: 5px 10px;
		background: rgba(0,0,0,0.5);
		border-radius: 50px;
	}
}
